<table class="table table-bordered table-striped flip-content table-child-content">
    <thead class="flip-content">
        <tr>
            <th width="30%" class="bg-green-dark bg-font-yellow text-nowrap text-center">Tên sản phẩm</th>
            <th class="bg-green-dark bg-font-yellow text-nowrap text-center">Đơn vị tính</th>
            <th width="20%" class="bg-green-dark bg-font-yellow text-nowrap text-center">Trạng thái sản phẩm</th>
            <th class="bg-green-dark bg-font-yellow text-nowrap numeric text-center"><%= t('.quantity') %></th>
        </tr>        
    </thead>
    <tbody>
        <tr>
            <td colspan="3" class="bg-grey-steel bg-font-grey-steel text-nowrap text-center sbold">TỔNG CỘNG</td>
            <td class="bg-grey-steel bg-font-grey-steel numeric text-center sbold"><%= @cs_return.total_quantity %></td>
        </tr>
        <% @cs_return.return_details.each do |return_detail| %>
        <tr>
            <td class="text-left"><%= return_detail.consignment_detail.get_product_name %></td>
            <td class="text-left"><%= return_detail.get_product_unit %></td>
            <td class="text-left"><%= return_detail.state_name %></td>
            <td class="text-center"><%= return_detail.quantity %></td>
        </tr>
        <% end %>
    </tbody>
</table>
