<% if params.to_unsafe_hash[:global_filter][:from_date].present? ||
      params.to_unsafe_hash[:global_filter][:to_date].present? ||
      params.to_unsafe_hash[:global_filter][:period].present? %>
    
    <%
        sales_total_colspan = 8 +
            (get_columns(params).include?("patient") ? 1 : 0) +
            (get_columns(params).include?("patient_state") ? 1 : 0) +
            (get_columns(params).include?("product_state") ? 1 : 0)
        return_total_colspan = 7 +
            (get_columns(params).include?("patient") ? 1 : 0) +
            (get_columns(params).include?("patient_state") ? 1 : 0) +
            (get_columns(params).include?("product_state") ? 1 : 0)
    %>
    
    <div class="text-right mb-10">
        <a target="_blank"
            href="<%= erp_ortho_k.report_sell_and_return_xlsx_backend_sales_path(params.to_unsafe_hash.merge({format: 'xlsx'})) %>"
            target="_blank"
            class="btn btn-primary"
        >Xuất excel</a>
    </div>
    
    <div class="custom-show text-center">
        <h4 class="font-blue-madison bold uppercase mb-15">
            Báo cáo bán hàng <br>
            <span class="font-sm">
                <% if @period_name.nil? %>
                    (<%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %> <%= ' Đến ' + @to.strftime('%d/%m/%Y') if !@to.nil? %>)
                <% else %>
                    (<%= @period_name %>)
                <% end %>
            </span>
        </h4>
    </div>
    
    <table class="table table-bordered order-column">
        <thead class="flip-content">
            <tr>
                <th width="5%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">STT</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Mã KH</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Khách hàng</th>
                <% if get_columns(params).include?("patient") %>
                    <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Bệnh nhân</th>
                <% end %>
                <% if get_columns(params).include?("patient_state") %>
                    <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">TT BN</th>
                <% end %>
                <% if get_columns(params).include?("product_state") %>
                    <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">TT SP</th>
                <% end %>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">NV phụ trách</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Sản phẩm</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Số lượng</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Đơn giá</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Giảm giá</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Thành tiền</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            <% index = 0 %>
            <% @od_rows.each do |group| %>
                <% state = group[0] %>
                <% order_details = group[1] %>
                <% order_details.each do |order_detail| %>
                    <% index += 1 %>
                    <% order = order_detail.order %>
                    <tr>
                        <td class="text-center text-center"><%= index %></td>
                        <td class="text-left bold"><%= order.customer_code %></td>
                        <td class="text-left bold"><%= order.customer_name %></td>
                        <% if get_columns(params).include?("patient") %>
                            <td class="text-left"><%= order.patient_name %></td>
                        <% end %>
                        <% if get_columns(params).include?("patient_state") %>
                            <td class="text-left"><%= order.patient_state_name %></td>
                        <% end %>
                        <% if get_columns(params).include?("product_state") %>
                            <td class="text-left">Mới</td>
                        <% end %>
                        <td class="text-center"><%= order.customer.salesperson_name %></td>
                        <td class="text-justify"><%= order_detail.product_name %></td>
                        <td class="text-center"><%= order_detail.quantity %></td>
                        <td class="text-right"><%= format_number(order_detail.price) %></td>
                        <td class="text-right"><%= format_number(order_detail.discount) %></td>
                        <td class="text-right"><%= format_number(order_detail.subtotal) %></td>
                        <td class="text-justify"><%= raw order_detail.description %></td>
                    </tr>
                <% end %>
                <tr>
                    <td class="text-center text-center" colspan="<%= sales_total_colspan %>"></td>
                    <td class="text-right font-yellow-gold bold"><%= format_number(order_details.map { |h| h.subtotal }.sum) %></td>
                    <td class="text-right font-yellow-gold"></td>
                </tr>
            <% end %>
            <tr>
                <td class="bg-green-jungle bg-font-green-jungle text-center uppercase bold" colspan="<%= sales_total_colspan %>"><%= 'Tổng cộng (bán)' %></td>
                <td class="bg-green-jungle bg-font-green-jungle text-right bold"><%= format_number(@orders.cache_total) %></td>
                <td class="bg-green-jungle bg-font-green-jungle"></td>
            </tr>
        </tbody>
    </table>
    
    <br>
    <br>
    
    <div class="custom-show text-center">
        <h4 class="font-blue-madison bold uppercase mb-15">
            Báo cáo trả hàng <br>
            <span class="font-sm">
                <% if @period_name.nil? %>
                    (<%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %> <%= ' Đến ' + @to.strftime('%d/%m/%Y') if !@to.nil? %>)
                <% else %>
                    (<%= @period_name %>)
                <% end %>
            </span>
        </h4>
    </div>
    
    <table class="table table-bordered order-column">
        <thead class="flip-content">
            <tr>
                <th width="5%"  class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">STT</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Mã KH</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Khách hàng</th>
                <% if get_columns(params).include?("patient") %>
                    <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Bệnh nhân</th>
                <% end %>
                <% if get_columns(params).include?("patient_state") %>
                    <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">TT BN</th>
                <% end %>
                <% if get_columns(params).include?("product_state") %>
                    <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">TT SP</th>
                <% end %>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">NV phụ trách</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Sản phẩm</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Số lượng</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Đơn giá</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Thành tiền</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            <% index = 0 %>
            <% @dd_rows.each do |group| %>
                <% state = group[0] %>
                <% delivery_details = group[1] %>
                <% delivery_details.each do |delivery_detail| %>
                    <% index += 1 %>
                    <% delivery = delivery_detail.delivery %>
                    <tr>
                        <td class="text-center text-center"><%= index %></td>
                        <td class="text-left bold"><%= delivery.customer_code %></td>
                        <td class="text-left bold"><%= delivery.customer_name %></td>
                        <% if get_columns(params).include?("patient") %>
                            <td class="text-left">
                                <%= delivery_detail.get_patient_name %>
                            </td>
                        <% end %>
                        <% if get_columns(params).include?("patient_state") %>
                            <td class="text-left">
                                <%= delivery_detail.get_patient_state_name %>
                            </td>
                        <% end %>
                        <% if get_columns(params).include?("product_state") %>
                            <td class="text-left">
                                <%= delivery_detail.state_name %>
                            </td>
                        <% end %>
                        <td class="text-center"><%= delivery.customer.salesperson_name %></td>
                        <td class="text-justify"><%= delivery_detail.product_name %></td>
                        <td class="text-center"><%= delivery_detail.quantity %></td>
                        <td class="text-right"><%= format_number(delivery_detail.price) %></td>
                        <td class="text-right"><%= format_number(delivery_detail.cache_total) %></td>
                        <td class="text-justify"><%= raw delivery_detail.note %></td>
                    </tr>
                <% end %>
                <tr>
                    <td class="text-center text-center" colspan="<%= return_total_colspan %>"></td>
                    <td class="text-right font-yellow-gold bold"><%= format_number(delivery_details.map { |h| h.cache_total }.sum) %></td>
                    <td class="text-right font-yellow-gold"></td>
                </tr>
            <% end %>
            <tr>
                <td class="bg-green-jungle bg-font-green-jungle text-center uppercase bold" colspan="<%= return_total_colspan %>"><%= 'Tổng cộng (trả)' %></td>
                <td class="bg-green-jungle bg-font-green-jungle text-right bold"><%= format_number(@deliveries.total_amount) %></td>
                <td class="bg-green-jungle bg-font-green-jungle"></td>
            </tr>
        </tbody>
    </table>
<% else %>
    <div class="alert alert-warning"><%= t('.please_select_filter') %></div>
<% end %>