<% content_for :title do %>
    <%= t('.report_product_return') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> <%= t('.report_product_return') %>
<% end %>

<% content_for :page_toolbar do %>
    <%= actions = []
        actions << {
            text: '<i class="fa fa-file-pdf-o"></i> ' + t(".export_pdf"),
            url: ''
        }
        actions << {
            text: '<i class="fa fa-file-excel-o"></i> ' + t('.export_excel'),
            url: ''
        }
        actions << {
            text: '<i class="fa fa-print"></i> ' + t('.print'),
            url: ''
        }
        erp_component('button/actions', {
        actions: actions,
        text: t('.options'),
        class: 'btn-noborder btn-sm',
        icon: 'fa fa-gear'
    }) %>
<% end %>

<% content_for :global_filter do %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.from_date'),
                name: 'from_date',
                placeholder: t('.select_from_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.to_date'),
                name: 'to_date',
                placeholder: t('.select_to_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'period',
                value: '',
                text: '',
                label: t('.filter_period'),
                placeholder: t('.choose_period'),
                url: erp_periods.dataselect_backend_periods_path(format: 'json')
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_ortho_k.report_product_return_table_backend_sales_path
) %>