<% if @from_date.present? and @to_date.present? %>
    <%
        total_colspan_1 = (get_columns(params).include?("record_date") ? 1 : 0) +
            (get_columns(params).include?("voucher_date") ? 1 : 0) +
            (get_columns(params).include?("voucher_code") ? 1 : 0) +
            (get_columns(params).include?("supplier_code") ? 1 : 0) +
            (get_columns(params).include?("supplier_name") ? 1 : 0) +
            (get_columns(params).include?("customer_code") ? 1 : 0) +
            (get_columns(params).include?("customer_name") ? 1 : 0) +
            (get_columns(params).include?("code") ? 1 : 0) +
            (get_columns(params).include?("diameter") ? 1 : 0) +
            (get_columns(params).include?("category") ? 1 : 0) +
            (get_columns(params).include?("product_name") ? 1 : 0) +
            (get_columns(params).include?("description") ? 1 : 0) +
            (get_columns(params).include?("status") ? 1 : 0) +
            (get_columns(params).include?("warehouse") ? 1 : 0) +
            (get_columns(params).include?("unit") ? 1 : 0)
        total_colspan_2 = (get_columns(params).include?("purchase_price") ? 1 : 0)
        total_colspan_3 = (get_columns(params).include?("sales_price") ? 1 : 0)
        total_colspan_4 = (get_columns(params).include?("patient_name") ? 1 : 0) +
            (get_columns(params).include?("patient_state") ? 1 : 0) +
            (get_columns(params).include?("eye_info") ? 1 : 0) +
            (get_columns(params).include?("salesperson_name") ? 1 : 0) +
            (get_columns(params).include?("salesperson_percent") ? 1 : 0)
        total_colspan_5 = (get_columns(params).include?("customer_commission_percent") ? 1 : 0)

        customer_colspan = (get_columns(params).include?("customer_code") ? 1 : 0) +
            (get_columns(params).include?("customer_name") ? 1 : 0)
        product_code_colspan = (get_columns(params).include?("code") ? 1 : 0) +
            (get_columns(params).include?("diameter") ? 1 : 0) +
            (get_columns(params).include?("category") ? 1 : 0)
        purchase_price_colspan = (get_columns(params).include?("purchase_price") ? 1 : 0) +
            (get_columns(params).include?("purchase_tax_amount") ? 1 : 0) +
            (get_columns(params).include?("purchase_total_amount") ? 1 : 0)
        sales_price_colspan = (get_columns(params).include?("sales_price") ? 1 : 0) +
            (get_columns(params).include?("sales_tax_amount") ? 1 : 0) +
            (get_columns(params).include?("sales_discount") ? 1 : 0) +
            (get_columns(params).include?("sales_total_amount") ? 1 : 0)
        patient_colspan = (get_columns(params).include?("patient_name") ? 1 : 0) +
            (get_columns(params).include?("patient_state") ? 1 : 0) +
            (get_columns(params).include?("eye_info") ? 1 : 0)
        salesperson_colspan = (get_columns(params).include?("salesperson_name") ? 1 : 0) +
            (get_columns(params).include?("salesperson_percent") ? 1 : 0) +
            (get_columns(params).include?("salesperson_commission_amount") ? 1 : 0)
        customer_commission_colspan = (get_columns(params).include?("customer_commission_percent") ? 1 : 0) +
            (get_columns(params).include?("customer_commission_amount") ? 1 : 0)
    %>

    <div class="row">
        <div class="col-md-10">
            <div class="custom-show text-center">
                <h4 class="font-blue-madison bold uppercase mb-15">
                    Sổ chi tiết bán hàng <br>
                    <span class="font-sm">
                        <% if @period.present? %>
                            (<%= @period.name %>)
                        <% else %>
                            (<%= 'Từ ' + @from_date.strftime('%d/%m/%Y') if !@from_date.nil? %> <%= ' Đến ' + @to_date.strftime('%d/%m/%Y') if !@to_date.nil? %>)
                        <% end %>
                    </span>
                </h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-right mb-10">
                <a target="_blank"
                    href="<%= erp_ortho_k.report_sales_details_xlsx_backend_sales_path(params.to_unsafe_hash.merge({format: 'xlsx'})) %>"
                    target="_blank"
                    class="btn btn-primary"
                >Xuất excel</a>
            </div>
        </div>
    </div>

    <div class="table-scrollable">
        <table class="table table-bordered table-advance order-column click-highlight" id="">
            <tr>
                <%= "<td colspan='#{total_colspan_1}'></td>".html_safe if total_colspan_1 > 0 %>
                <% if get_columns(params).include?("unknown_1") %>
                <td class="text-right stock-num text-bold text-primary">--</td>
                <% end %>
                <% if get_columns(params).include?("unknown_2") %>
                <td class="text-right stock-num text-bold text-primary">--</td>
                <% end %>
                <% if get_columns(params).include?("quantity") %>
                <td class="text-center stock-num text-bold bg-warning"><%= @totals[:quantity] %></td>
                <% end %>
                <%= "<td colspan='#{total_colspan_2}'></td>".html_safe if total_colspan_2 > 0 %>
                <% if get_columns(params).include?("purchase_tax_amount") %>
                <td class="text-right stock-num text-bold font-green-seagreen"></td>
                <% end %>
                <% if get_columns(params).include?("purchase_total_amount") %>
                <td class="text-right stock-num text-bold font-yellow-gold"><%= format_number(@totals[:purchase_total_amount]) %></td>
                <% end %>
                <% if get_columns(params).include?("sales_price") %>
                <%= "<td colspan='#{total_colspan_3}'></td>".html_safe if total_colspan_3 > 0 %>
                <% end %>
                <% if get_columns(params).include?("sales_tax_amount") %>
                <td class="text-right stock-num text-bold font-green-seagreen"><%= format_number(@totals[:sales_tax_amount]) %></td>
                <% end %>
                <% if get_columns(params).include?("sales_discount") %>
                <td class="text-right stock-num text-bold text-warning"><%= format_number(@totals[:sales_discount]) %></td>
                <% end %>
                <% if get_columns(params).include?("sales_total_amount") %>
                <td class="text-right stock-num text-bold font-yellow-gold"><%= format_number(@totals[:sales_total_amount]) %></td>
                <% end %>
                <% if get_columns(params).include?("doctor_name") %>
                <td></td>
                <% end %>
                <%= "<td colspan='#{total_colspan_4}'></td>".html_safe if total_colspan_4 > 0 %>
                <% if get_columns(params).include?("salesperson_commission_amount") %>
                <td class="text-right stock-num text-bold font-yellow-gold"><%= format_number(@totals[:salesperson_commission_amount]) %></td>
                <% end %>
                <%= "<td colspan='#{total_colspan_5}'></td>".html_safe if total_colspan_5 > 0 %>
                <% if get_columns(params).include?("customer_commission_amount") %>
                <td class="text-right stock-num text-bold font-yellow-gold"><%= format_number(@totals[:customer_commission_amount]) %></td>
                <% end %>
                <% if get_columns(params).include?("note") %>
                <td></td>
                <% end %>
            </tr>
            <tr>
                <% if get_columns(params).include?("record_date") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2"><%= t('.record_date') %></th>
                <% end %>
                <% if get_columns(params).include?("voucher_date") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2"><%= t('.voucher_date') %></th>
                <% end %>
                <% if get_columns(params).include?("voucher_code") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2"><%= t('.voucher_code') %></th>
                <% end %>
                <% if get_columns(params).include?("customer_code") or get_columns(params).include?("customer_name") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" colspan="<%= customer_colspan %>"><%= t('.customer') %></th>
                <% end %>
                <% if get_columns(params).include?("code") or get_columns(params).include?("diameter") or get_columns(params).include?("category") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" colspan="<%= product_code_colspan %>"><%= t('.product_code') %></th>
                <% end %>
                <% if get_columns(params).include?("product_name") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2" width="7%"><%= t('.product_name') %></th>
                <% end %>
                <% if get_columns(params).include?("description") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2" width="7%"><%= t('.description') %></th>
                <% end %>
                <% if get_columns(params).include?("status") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2" width="7%"><%= t('.status') %></th>
                <% end %>
                <% if get_columns(params).include?("warehouse") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2" width="7%"><%= t('.warehouse') %></th>
                <% end %>
                <% if get_columns(params).include?("unit") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2" width="7%"><%= t('.unit') %></th>
                <% end %>
                <% if get_columns(params).include?("unknown_1") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2" width="7%"><%= t('.unknown_1') %></th>
                <% end %>
                <% if get_columns(params).include?("unknown_2") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2" width="7%"><%= t('.unknown_2') %></th>
                <% end %>
                <% if get_columns(params).include?("quantity") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2" width="7%"><%= t('.quantity') %></th>
                <% end %>
                <% if get_columns(params).include?("purchase_price") or get_columns(params).include?("purchase_tax_amount") or
                    get_columns(params).include?("purchase_total_amount") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" colspan="<%= purchase_price_colspan %>"><%= t('.purchase') %></th>
                <% end %>
                <% if get_columns(params).include?("sales_price") or get_columns(params).include?("sales_tax_amount") or
                    get_columns(params).include?("sales_discount") or get_columns(params).include?("sales_total_amount") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" colspan="<%= sales_price_colspan %>"><%= t('.sales') %></th>
                <% end %>
                <% if get_columns(params).include?("doctor_name") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2"><%= t('.doctor_name') %></th>
                <% end %>
                <% if get_columns(params).include?("patient_name") or get_columns(params).include?("patient_state") or get_columns(params).include?("eye_info") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" colspan="<%= patient_colspan %>"><%= t('.patient') %></th>
                <% end %>
                <% if get_columns(params).include?("salesperson_name") or get_columns(params).include?("salesperson_percent") or get_columns(params).include?("salesperson_commission_amount") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" colspan="<%= salesperson_colspan %>"><%= t('.salesperson') %></th>
                <% end %>
                <% if get_columns(params).include?("customer_commission_percent") or get_columns(params).include?("customer_commission_amount") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" colspan="<%= customer_commission_colspan %>"><%= t('.goods') %></th>
                <% end %>
                <% if get_columns(params).include?("note") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" rowspan="2" width="7%"><%= t('.note') %></th>
                <% end %>
            </tr>
            <tr>
                <% if get_columns(params).include?("customer_code") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.customer_code') %></th>
                <% end %>
                <% if get_columns(params).include?("customer_name") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.customer_name') %></th>
                <% end %>
                <% if get_columns(params).include?("code") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.code') %></th>
                <% end %>
                <% if get_columns(params).include?("diameter") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.diameter') %></th>
                <% end %>
                <% if get_columns(params).include?("category") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.category') %></th>
                <% end %>
                <% if get_columns(params).include?("purchase_price") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.purchase_price') %></th>
                <% end %>
                <% if get_columns(params).include?("purchase_tax_amount") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.purchase_tax_amount') %></th>
                <% end %>
                <% if get_columns(params).include?("purchase_total_amount") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.purchase_total_amount') %></th>
                <% end %>
                <% if get_columns(params).include?("sales_price") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.sales_price') %></th>
                <% end %>
                <% if get_columns(params).include?("sales_tax_amount") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.sales_tax_amount') %></th>
                <% end %>
                <% if get_columns(params).include?("sales_discount") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.sales_discount') %></th>
                <% end %>
                <% if get_columns(params).include?("sales_total_amount") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.sales_total_amount') %></th>
                <% end %>
                <% if get_columns(params).include?("patient_name") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.patient_name') %></th>
                <% end %>
                <% if get_columns(params).include?("patient_state") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.patient_state') %></th>
                <% end %>
                <% if get_columns(params).include?("eye_info") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.eye_info') %></th>
                <% end %>
                <% if get_columns(params).include?("salesperson_name") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.salesperson_name') %></th>
                <% end %>
                <% if get_columns(params).include?("salesperson_percent") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.salesperson_percent') %></th>
                <% end %>
                <% if get_columns(params).include?("salesperson_commission_amount") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.salesperson_commission_amount') %></th>
                <% end %>
                <% if get_columns(params).include?("customer_commission_percent") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.goods_discount_percent') %></th>
                <% end %>
                <% if get_columns(params).include?("customer_commission_amount") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-nowrap text-center" width="7%"><%= t('.goods_discount_amount') %></th>
                <% end %>
            </tr>
            <% if @group_by.present? and !@group_by.include?(Erp::Products::Product::GROUPED_BY_DEFAULT) %>
                <% @groups.each do |item| %>
                    <%= render 'erp/ortho_k/backend/sales/report_sales_details_table/group_row', item: item %>
                    <%= render 'erp/ortho_k/backend/sales/report_sales_details_table/report_rows', rows: item[:rows] %>
                <% end %>
            <% else %>
                <%= render 'erp/ortho_k/backend/sales/report_sales_details_table/report_rows', rows: @rows %>
            <% end %>
        </table>
    </div>
<% else %>
    <div class="alert alert-warning">
        <p>Vui lòng chọn các tham số bắt buộc:
            <br>- <strong>Thời gian báo cáo (Từ ngày/Đến ngày hoặc thời gian cố định)</strong>
        </p>
    </div>
<% end %>
