<% if params.to_unsafe_hash[:global_filter][:from_date].present? ||
      params.to_unsafe_hash[:global_filter][:to_date].present? ||
      params.to_unsafe_hash[:global_filter][:period].present? %>
    
    <div class="custom-show text-center">
        <h4 class="font-blue-madison bold uppercase mb-15">
            Báo cáo bán hàng <br>
            <span class="font-sm">
                <% if @period_name.nil? %>
                    (<%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %> <%= ' Đến ' + @to.strftime('%d/%m/%Y') if !@to.nil? %>)
                <% else %>
                    (<%= @period_name %>)
                <% end %>
            </span>
        </h4>
    </div>
    
    <table class="table table-bordered order-column">
        <thead class="flip-content">
            <tr>
                <th width="5%"  class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">STT</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Khách hàng</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">NV phụ trách</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Sản phẩm</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Số lượng</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Đơn giá</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Thành tiền</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            <% @orders.each_with_index do |order,index_1| %>
                <% order.order_details.each_with_index do |order_detail,index_2| %>
                    <tr>
                        <td class="text-center text-center"><%= (index_1+1)+index_2 %></td>
                        <td class="text-left bold"><%= order.customer_name %></td>
                        <td class="text-center"><%= order.customer.salesperson_name %></td>
                        <td class="text-justify"><%= order_detail.product_name %></td>
                        <td class="text-center font-yellow-gold"><%= order_detail.quantity %></td>
                        <td class="text-right font-yellow-gold"><%= format_number(order_detail.price) %></td>
                        <td class="text-right font-yellow-gold"><%= format_number(order_detail.subtotal) %></td>
                        <td class="text-justify"><%= raw order_detail.description %></td>
                    </tr>
                <% end %>
                <tr>
                    <td class="text-center text-center" colspan="6"></td>
                    <td class="text-right font-yellow-gold bold"><%= format_number(order.cache_total) %></td>
                    <td class="text-right font-yellow-gold"></td>
                </tr>
            <% end %>
            <tr>
                <td class="bg-green-jungle bg-font-green-jungle text-center uppercase bold" colspan="6"><%= 'Tổng cộng' %></td>
                <td class="bg-green-jungle bg-font-green-jungle text-right bold"><%= format_number(@orders.cache_total) %></td>
                <td class="bg-green-jungle bg-font-green-jungle"></td>
            </tr>
        </tbody>
    </table>
    
    <br>
    <br>
    
    <div class="custom-show text-center">
        <h4 class="font-blue-madison bold uppercase mb-15">
            Báo cáo trả hàng <br>
            <span class="font-sm">
                <% if @period_name.nil? %>
                    (<%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %> <%= ' Đến ' + @to.strftime('%d/%m/%Y') if !@to.nil? %>)
                <% else %>
                    (<%= @period_name %>)
                <% end %>
            </span>
        </h4>
    </div>
    
    <table class="table table-bordered order-column">
        <thead class="flip-content">
            <tr>
                <th width="5%"  class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">STT</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Khách hàng</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">NV phụ trách</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Sản phẩm</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Số lượng</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Đơn giá</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Thành tiền</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            <% @deliveries.each_with_index do |delivery,index_1| %>
                <% delivery.delivery_details.each_with_index do |delivery_detail,index_2| %>
                    <tr>
                        <td class="text-center text-center"><%= (index_1+1)+index_2 %></td>
                        <td class="text-left bold"><%= delivery.customer_name %></td>
                        <td class="text-center"><%= delivery.customer.salesperson_name %></td>
                        <td class="text-justify"><%= delivery_detail.product_name %></td>
                        <td class="text-center font-yellow-gold"><%= delivery_detail.quantity %></td>
                        <td class="text-right font-yellow-gold"><%= format_number(delivery_detail.price) %></td>
                        <td class="text-right font-yellow-gold"><%= format_number(delivery_detail.cache_total) %></td>
                        <td class="text-justify"><%= raw delivery_detail.note %></td>
                    </tr>
                <% end %>
                <tr>
                    <td class="text-center text-center" colspan="6"></td>
                    <td class="text-right font-yellow-gold bold"><%= format_number(delivery.total_amount) %></td>
                    <td class="text-right font-yellow-gold"></td>
                </tr>
            <% end %>
            <tr>
                <td class="bg-green-jungle bg-font-green-jungle text-center uppercase bold" colspan="6"><%= 'Tổng cộng' %></td>
                <td class="bg-green-jungle bg-font-green-jungle text-right bold"><%= '' %></td>
                <td class="bg-green-jungle bg-font-green-jungle"></td>
            </tr>
        </tbody>
    </table>
<% else %>
    <div class="alert alert-warning"><%= t('.please_select_filter') %></div>
<% end %>