<% if params.to_unsafe_hash[:global_filter][:from_date].present? ||
      params.to_unsafe_hash[:global_filter][:to_date].present? ||
      params.to_unsafe_hash[:global_filter][:period].present? %>

    <div class="custom-show text-center">
        <h4 class="font-blue-madison bold uppercase mb-15">
            Danh sách khách hàng trả hàng <br>
            <span class="font-sm">
                <% if @period_name.nil? %>
                    (<%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %> <%= ' Đến ' + @to.strftime('%d/%m/%Y') if !@to.nil? %>)
                <% else %>
                    (<%= @period_name %>)
                <% end %>
            </span>
        </h4>
    </div>

    <table class="table table-bordered order-column">
        <tr>
            <th width="5%" rowspan="2" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">STT</th>
            <th rowspan="2" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Khách hàng</th>
            <th colspan="<%= Erp::Products::State.all_active.count %>" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap uppercase">Len</th>
            <% @categories.each do |category| %>
                <th rowspan="2" width="10%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= category.name %></th>
            <% end %>
            <!--<th rowspan="2" width="20%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Ghi chú</th>-->
        </tr>
        <tr>
            <% Erp::Products::State.all_active.each do |state| %>
                <th width="10%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= state.name %></th>
            <% end %>
        </tr>
        <tr>
            <td class="bg-green-jungle bg-font-green-jungle text-center uppercase bold" colspan="2"><%= 'Tổng cộng' %></td>
            <% Erp::Products::State.all_active.each do |state| %>
                <td class="bg-green-jungle bg-font-green-jungle text-center bold">
                    <%
                        count = Erp::Products::Product.get_qdelivery_import({
                            product_id: @len_product_ids,
                            from_date: @from,
                            to_date: @to,
                            delivery_type: [
                                Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT
                            ],
                            state: state
                        })
                    %>
                    <%= count %>
                </td>
            <% end %>
            <% @categories.each do |category| %>
                <td class="bg-green-jungle bg-font-green-jungle text-center bold">
                    <%
                        count = Erp::Products::Product.get_qdelivery_import({
                            product_id: Erp::Products::Product.where(category_id: category.id).select('id'),
                            from_date: @from,
                            to_date: @to,
                            delivery_type: [
                                Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT
                            ]
                        })
                    %>
                    <%= count %>
                </td>
            <% end %>
        </tr>
        <% @customers.each_with_index do |customer,index| %>
            <tr>
                <td class="text-center text-center"><%= index+1 %></td>
                <td class="text-left bold"><%= customer.contact_name %></td>
                <% Erp::Products::State.all_active.each do |state| %>
                    <td class="text-center font-yellow-gold">
                        <%
                            count = Erp::Products::Product.get_qdelivery_import({
                                product_id: @len_product_ids,
                                from_date: @from,
                                to_date: @to,
                                delivery_type: [
                                    Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT
                                ],
                                state: state,
                                customer_id: customer.id
                            })
                        %>
                        <%= count %>
                    </td>
                <% end %>
                <% @categories.each do |category| %>
                    <td class="text-center font-yellow-gold">
                        <%
                            count = Erp::Products::Product.get_qdelivery_import({
                                product_id: Erp::Products::Product.where(category_id: category.id).select('id'),
                                from_date: @from,
                                to_date: @to,
                                delivery_type: [
                                    Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT
                                ],
                                customer_id: customer.id
                            })
                        %>
                        <%= count %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </table>
<% else %>
    <div class="alert alert-warning"><%= t('.please_select_filter') %></div>
<% end %>
