<% content_for :title do %>
    <%= t('.report_sales_details') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> <%= t('.report_sales_details') %>
<% end %>

<% content_for :global_filter do %>
    <div class="row">
        <div class="col-md-2">
            <%= erp_form_control('date', {
                label: t('.from_date'),
                name: 'from_date',
                placeholder: t('.select_from_date')
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('date', {
                label: t('.to_date'),
                name: 'to_date',
                placeholder: t('.select_to_date')
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control("dataselect", {
                name: 'period',
                label: 'Thời gian cố định',
                placeholder: 'Chọn lọc theo ngày chứng từ',
                url: erp_periods.dataselect_backend_periods_path(format: 'json')
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('select', {
                name: 'sort_by',
                label: 'Sắp xếp',
                placeholder: 'Chọn sắp xếp theo...',
                options: Erp::Orders::Order.sort_by_dates
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('select', {
                name: 'order_by',
                label: 'Hướng (Tăng/Giảm)',
                placeholder: 'Chọn hướng sắp xếp...',
                options: Erp::Orders::Order.get_order_direction
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('select', {
                name: 'group_by',
                label: 'Nhóm theo',
                placeholder: 'Chọn nhóm theo...',
                options: Erp::Orders::Order.get_grouped_bys
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <%= erp_form_control("dataselect", {
                name: 'customer_id',
                label: t('.filter_customer'),
                placeholder: t('.chooose_customer'),
                url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_customer: true),
                multiple: true
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control("dataselect", {
                name: 'warehouse_id',
                label: t('.filter_warehouse'),
                placeholder: t('.choose_warehouse'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control("dataselect", {
                name: 'category_id',
                label: t('.filter_category'),
                placeholder: t('.choose_category'),
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'product_id',
                label: t('.filter_product'),
                placeholder: t('.chooose_product'),
                url: erp_products.dataselect_backend_products_path(format: 'json'),
                multiple: true
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_ortho_k.report_sales_details_table_backend_sales_path,
    sortable: true,
    filters: [
        
    ],
    columns: [
        {
            text: t('.record_date'), name: 'record_date', value: true, checked: true
        },
        {
            text: t('.voucher_date'), name: 'voucher_date', value: true, checked: true
        },
        {
            text: t('.voucher_code'), name: 'voucher_code', value: true, checked: true
        },
        {
            text: t('.customer_code'), name: 'customer_code', value: true, checked: true
        },
        {
            text: t('.customer_name'), name: 'customer_name', value: true, checked: true
        },
        {
            text: t('.description'), name: 'description', value: true, checked: true
        },
        {
            text: t('.product_name'), name: 'product_name', value: true, checked: true
        },
        {
            text: t('.status'), name: 'status', value: true, checked: true
        },
        {
            text: t('.warehouse'), name: 'warehouse', value: true, checked: true
        },
        {
            text: t('.unit'), name: 'unit', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('.purchase_price'), name: 'purchase_price', value: true, checked: true
        },
        {
            text: t('.purchase_tax_amount'), name: 'purchase_tax_amount', value: true, checked: true
        },
        {
            text: t('.purchase_total_amount'), name: 'purchase_total_amount', value: true, checked: true
        },
        {
            text: t('.sales_price'), name: 'sales_price', value: true, checked: true
        },
        {
            text: t('.sales_tax_amount'), name: 'sales_tax_amount', value: true, checked: true
        },
        {
            text: t('.sales_discount'), name: 'sales_discount', value: true, checked: true
        },
        {
            text: t('.sales_total_amount'), name: 'sales_total_amount', value: true, checked: true
        },
        {
            text: t('.patient_name'), name: 'patient_name', value: true, checked: true
        },
        {
            text: t('.patient_state'), name: 'patient_state', value: true, checked: true
        },
        {
            text: t('.eye_info'), name: 'eye_info', value: true, checked: true
        },
        {
            text: t('.salesperson_name'), name: 'salesperson_name', value: true, checked: true
        },
        {
            text: t('.salesperson_percent'), name: 'salesperson_percent', value: true, checked: true
        },
        {
            text: t('.salesperson_commission_amount'), name: 'salesperson_commission_amount', value: true, checked: true
        },
        {
            text: t('.customer_commission_percent'), name: 'customer_commission_percent', value: true, checked: true
        },
        {
            text: t('.customer_commission_amount'), name: 'customer_commission_amount', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: true
        },
    ]
) %>
