<table class="table table-advance table-hover table-striped table-checkable order-column" id="">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th class="sortable" sort-by='erp_contacts_titles.name'>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th>
                    <%= t('.created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('.actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @central_areas.each do |central_area| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: central_area.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td><%= link_to central_area.name, erp_ortho_k.edit_backend_central_area_path(central_area) %></td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= central_area.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('.edit'),
                                href: erp_ortho_k.edit_backend_central_area_path(central_area)
                            },
                            { divider: true },
                            {
                              text: '<i class="fa fa-trash"></i> '+t('.delete'),
                              url: erp_ortho_k.backend_central_area_path(central_area),
                              data_method: 'DELETE',
                              data_confirm: t('.delete_confirm'),
                              class: 'ajax-link'
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @central_areas.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>
        
<%= erp_datalist_pagination(@central_areas) %>