<% if (params.to_unsafe_hash[:global_filter][:from_date].present? &&
      params.to_unsafe_hash[:global_filter][:to_date].present?) ||
      params.to_unsafe_hash[:global_filter][:period].present? %>
    
    <div class="custom-show text-center">
            <h4 class="font-blue-madison bold uppercase mb-15">
                THỐNG KÊ BÁN HÀNG - TRẢ HÀNG BÁN <%= "(#{@customer_name})" if @customer_name.present? %><br>
                <span class="font-sm">
                    <% if @period_name.nil? %>
                        (<%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %> <%= ' Đến ' + @to.strftime('%d/%m/%Y') if !@to.nil? %>)
                    <% else %>
                        (<%= @period_name %>)
                    <% end %>
                </span>
            </h4>
        </div>
    
    <div class="text-right mb-10">
        <a target="_blank"
            href="<%= erp_ortho_k.report_sales_summary_xlsx_backend_accountings_path(params.to_unsafe_hash.merge({format: 'xlsx', file_name: @file_name})) %>"
            target="_blank"
            class="btn btn-primary"
        >Xuất excel</a>
    </div>
    
    <table class="table table-bordered order-column">
        <thead class="flip-content">
            <tr>
                <th width="20%" class="text-center bg-green-jungle bg-font-yellow-mint text-nowrap uppercase"></th>
                <th class="text-center bg-green-jungle bg-font-yellow-mint text-nowrap">Hàng hóa</th>
                <th width="10%" class="text-center bg-green-jungle bg-font-yellow-mint text-nowrap">Số lượng</th>
                <th width="10%" class="text-center bg-green-jungle bg-font-yellow-mint text-nowrap">Thành tiền (chưa VAT)</th>
                <th width="10%" class="text-center bg-green-jungle bg-font-yellow-mint text-nowrap">Tiền thuế (VAT)</th>
                <th width="10%" class="text-center bg-green-jungle bg-font-yellow-mint text-nowrap">Tổng cộng (đã VAT)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center bold uppercase" rowspan="<%= @data[:sales][:rows].count+2 %>">Xuất bán hàng</td>
            </tr>
            <% @data[:sales][:rows].each do |row| %>
                <tr>
                    <td class="text-left"><%= row[:name] %></td>
                    <td class="text-center font-yellow-gold"><%= format_number(row[:quantity]) %></td>
                    <td class="text-right font-yellow-gold"><%= format_number(row[:total_without_tax]) %></td>
                    <td class="text-right font-yellow-gold"><%= format_number(row[:tax_amount]) %></td>
                    <td class="text-right font-yellow-gold bold"><%= format_number(row[:total_amount]) %></td>
                </tr>
            <% end %>
            <tr>
                <td class="text-left bold uppercase">Tổng bán</td>
                <td class="text-center bold"><%= format_number(@data[:sales][:total][:quantity]) %></td>
                <td class="text-right bold"><%= format_number(@data[:sales][:total][:total_without_tax]) %></td>
                <td class="text-right bold"><%= format_number(@data[:sales][:total][:tax_amount]) %></td>
                <td class="text-right bold"><%= format_number(@data[:sales][:total][:total_amount]) %></td>
            </tr>
            
            <tr>
                <td class="text-center bold uppercase" rowspan="<%= @data[:returns][:rows].count+2 %>">Hàng bị trả lại</td>
            </tr>
            <% @data[:returns][:rows].each do |row| %>
                <tr>
                    <td class="text-left"><%= row[:name] %></td>
                    <td class="text-center font-yellow-gold"><%= format_number(row[:quantity]) %></td>
                    <td class="text-right font-yellow-gold"><%= format_number(row[:total_without_tax]) %></td>
                    <td class="text-right font-yellow-gold"><%= format_number(row[:tax_amount]) %></td>
                    <td class="text-right font-yellow-gold bold"><%= format_number(row[:total_amount]) %></td>
                </tr>
            <% end %>
            <tr>
                <td class="text-left bold uppercase">Tổng trả</td>
                <td class="text-center bold"><%= format_number(@data[:returns][:total][:quantity]) %></td>
                <td class="text-right bold"><%= format_number(@data[:returns][:total][:total_without_tax]) %></td>
                <td class="text-right bold"><%= format_number(@data[:returns][:total][:tax_amount]) %></td>
                <td class="text-right bold"><%= format_number(@data[:returns][:total][:total_amount]) %></td>
            </tr>
            
            <tr>
                <td class="bg-green-jungle bg-font-green-jungle text-center" colspan="2">
                    <h4 class="bold uppercase" title="Tổng tiền doanh số bán hàng sau khi đã trừ cho chi phí hàng bị trả lại">Tổng cộng</h4>
                </td>
                <td class="bg-green-jungle bg-font-green-jungle text-center"><h4 class="bold">
                    <%= format_number(@data[:sales][:total][:quantity] - @data[:returns][:total][:quantity]) %>
                </h4></td>
                <td class="bg-green-jungle bg-font-green-jungle text-right"><h4 class="bold">
                    <%= format_number(@data[:sales][:total][:total_without_tax] - @data[:returns][:total][:total_without_tax]) %>
                </h4></td>
                <td class="bg-green-jungle bg-font-green-jungle text-right"><h4 class="bold">
                    <%= format_number(@data[:sales][:total][:tax_amount] - @data[:returns][:total][:tax_amount]) %>
                </h4></td>
                <td class="bg-green-jungle bg-font-green-jungle text-right"><h4 class="bold">
                    <%= format_number(@data[:sales][:total][:total_amount] - @data[:returns][:total][:total_amount]) %>
                </h4></td>
            </tr>
        </tbody>
    </table>
<% else %>
    <div class="alert alert-warning">
        Yêu cầu chọn các tham số bắt buộc:<br>
        <strong>* Từ ngày - Đến ngày</strong> hoặc <strong>Thời gian cố định</strong>
    </div>
<% end %>