<% if params.to_unsafe_hash[:global_filter][:to_date].present? ||
      params.to_unsafe_hash[:global_filter][:period].present? %>
    
    <div class="custom-show text-center">
        <h4 class="font-blue-madison bold uppercase mb-15">
            Bảng báo cáo dòng tiền còn lại <%= @period_name.nil? ? 'đến ngày ' + @to.strftime('%d/%m/%Y') : ' cuối ' + @period_name %>
        </h4>
    </div>
    
    <table class="table table-bordered order-column">
        <thead class="flip-content">
            <tr>
                <th width="60%"  class="text-center bg-yellow bg-font-yellow text-nowrap">Danh mục</th>
                <th width="40%" class="text-center bg-yellow bg-font-yellow text-nowrap">Số tiền</th>
            </tr>
        </thead>
        <tbody>
            <% @accounts.each do |account| %>
                <tr>
                    <td class="text-center"><%= account.name %></td>
                    <td class="text-center font-yellow-gold"><%= format_number(account.account_balance(to_date: @to)) %></td>
                </tr>
            <% end %>
            <tr>
                <td class="text-center bold">TỔNG CỘNG</td>
                <td class="text-center bold"><%= format_number(@accounts.account_balance(to_date: @to)) %></td>
            </tr>
            
        </tbody>
    </table>
<% else %>
    <div class="alert alert-warning"><%= t('.please_select_filter') %></div>
<% end %>