<% if (params.to_unsafe_hash[:global_filter][:from_date].present? &&
      params.to_unsafe_hash[:global_filter][:to_date].present?) ||
      params.to_unsafe_hash[:global_filter][:period].present? %>
    
    <div class="custom-show text-center">
            <h4 class="font-blue-madison bold uppercase mb-15">
                THỐNG KÊ HÀNG KÝ GỬI - CHO MƯỢN<br>
                <span class="font-sm">
                    <% if @period_name.nil? %>
                        (<%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %> <%= ' Đến ' + @to.strftime('%d/%m/%Y') if !@to.nil? %>)
                    <% else %>
                        (<%= @period_name %>)
                    <% end %>
                </span>
            </h4>
        </div>
    
    <div class="text-right mb-10">
        <a target="_blank"
            href="<%= erp_ortho_k.report_statistics_consignment_xlsx_backend_accountings_path(params.to_unsafe_hash.merge({format: 'xlsx', file_name: @file_name})) %>"
            target="_blank"
            class="btn btn-primary"
        >Xuất excel</a>
    </div>
    
    <table class="table table-bordered order-column">
        <thead class="flip-content">
            <tr>
                <th width="20%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap uppercase"></th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Hàng hóa</th>
                <th width="20%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Số lượng</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center bold uppercase" rowspan="<%= @data[:consignments][:rows].count+2 %>">Xuất hàng</td>
            </tr>
            <% @data[:consignments][:rows].each do |row| %>
                <tr>
                    <td class="text-left"><%= row[:name] %></td>
                    <td class="text-center font-yellow-gold"><%= format_number(row[:quantity]) %></td>
                </tr>
            <% end %>
            <tr>
                <td class="text-left bold uppercase">Tổng xuất</td>
                <td class="text-center bold"><%= format_number(@data[:consignments][:total][:quantity]) %></td>
            </tr>
            
            <tr>
                <td class="text-center bold uppercase" rowspan="<%= @data[:cs_returns][:rows].count+2 %>">Trả hàng</td>
            </tr>
            <% @data[:cs_returns][:rows].each do |row| %>
                <tr>
                    <td class="text-left"><%= row[:name] %></td>
                    <td class="text-center font-yellow-gold"><%= format_number(row[:quantity]) %></td>
                </tr>
            <% end %>
            <tr>
                <td class="text-left bold uppercase">Tổng trả</td>
                <td class="text-center bold"><%= format_number(@data[:cs_returns][:total][:quantity]) %></td>
            </tr>
            
            <tr>
                <td class="bg-green-jungle bg-font-green-jungle text-center" colspan="2">
                    <h4 class="bold uppercase">Tổng cộng</h4>
                </td>
                <td class="bg-green-jungle bg-font-green-jungle text-center">
                    <h4 class="bold">
                        <%= format_number(@data[:consignments][:total][:quantity] - @data[:cs_returns][:total][:quantity]) %>
                    </h4>
                </td>
            </tr>
        </tbody>
    </table>
<% else %>
    <div class="alert alert-warning">
        Yêu cầu chọn các tham số bắt buộc:<br>
        <strong>* Từ ngày - Đến ngày</strong> hoặc <strong>Thời gian cố định</strong>
    </div>
<% end %>