<% if params.to_unsafe_hash[:global_filter][:from_date].present? ||
      params.to_unsafe_hash[:global_filter][:to_date].present? ||
      params.to_unsafe_hash[:global_filter][:period].present? %>
      
    <div class="custom-show text-center">
        <h4 class="font-blue-madison bold uppercase mb-15">
            Tổng hợp thu chi <br>
            <span class="font-sm">
                <% if @period_name.nil? %>
                    (<%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %> <%= ' Đến ' + @to.strftime('%d/%m/%Y') if !@to.nil? %>)
                <% else %>
                    (<%= @period_name %>)
                <% end %>
            </span>
        </h4>
    </div>
    
    <div class="text-right mb-10">
        <a target="_blank"
            href="<%= erp_ortho_k.report_synthesis_pay_receive_xlsx_backend_accountings_path(params.to_unsafe_hash.merge({format: 'xlsx'})) %>"
            target="_blank"
            class="btn btn-primary"
        >Xuất excel</a>
    </div>
    
    <table class="table table-bordered order-column">
        <thead class="flip-content">
            <tr>
                <th width="25%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">
                    <%= 'Từ ' + @from.strftime('%d/%m/%Y') if !@from.nil? %> <%= ' đến ' + @to.strftime('%d/%m/%Y') if !@to.nil? %>
                </th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Diễn giải</th>
                <th width="15%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Số tiền</th>
            </tr>
        </thead>
        <tbody>
            <% @receivables.each_with_index do |receive, index| %>
                <tr>
                    <% if index == 0 %>
                        <td class="text-center bold" rowspan="<%= @receivables.count+1 %>">PHẦN THU</td>
                    <% end %>
                    
                    <% if receive.receive_amount_by_payment_type(from_date: @from, to_date: @to) > 0 %>
                        <td class="text-left"><%= receive.name %></td>
                        <td class="text-right font-yellow-gold"><%= format_number(receive.receive_amount_by_payment_type(from_date: @from, to_date: @to)) %></td>
                    <% end %>
                </tr>
                <% if index+1 == @receivables.count %>
                    <tr>
                        <td class="text-left bold">TỔNG THU</td>
                        <td class="text-right"><strong><%= format_number(@receivables.receive_amount_by_payment_type(from_date: @from, to_date: @to)) %></strong></td>
                    </tr>
                <% end %>
                
            <% end %>
            <% @payables.each_with_index do |pay, index| %>
                <tr>
                    <% if index == 0 %>
                        <td class="text-center bold" rowspan="<%= @payables.count+1 %>">PHẦN CHI</td>
                    <% end %>
                    <% if pay.paid_amount_by_payment_type(from_date: @from, to_date: @to) > 0 %>
                        <td class="text-left"><%= pay.name %></td>
                        <td class="text-right font-yellow-gold"><%= format_number(pay.paid_amount_by_payment_type(from_date: @from, to_date: @to)) %></td>
                    <% end %>
                </tr>
                <% if index+1 == @payables.count %>
                    <tr>
                        <td class="text-left bold">TỔNG CHI</td>
                        <td class="text-right"><strong><%= format_number(@payables.paid_amount_by_payment_type(from_date: @from, to_date: @to)) %></strong></td>
                    </tr>
                <% end %>
            <% end %>
            <tr>
                <td class="bg-green-jungle bg-font-green-jungle border-green-jungle text-center" colspan="2"><h4 class="bold">KẾT TOÁN</h4></td>
                <td class="bg-green-jungle bg-font-green-jungle border-green-jungle text-right"><h4 class="bold"><%= format_number(@payment_types.remain_amount_by_payment_type(from_date: @from, to_date: @to)) %></h4></td>
            </tr>
        </tbody>
    </table>
<% else %>
    <div class="alert alert-warning"><%= t('.please_select_filter') %></div>
<% end %>