<% content_for :title do %>
    <%= t('.report_pay_receive') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> <%= t('.report_pay_receive') %>
<% end %>

<% content_for :page_toolbar do %>
    <%= actions = []
        actions << {
            text: '<i class="fa fa-file-pdf-o"></i> ' + t(".export_pdf"),
            url: ''
        }
        actions << {
            text: '<i class="fa fa-file-excel-o"></i> ' + t('.export_excel'),
            url: ''
        }
        actions << {
            text: '<i class="fa fa-print"></i> ' + t('.print'),
            url: ''
        }
        erp_component('button/actions', {
        actions: actions,
        text: t('.options'),
        class: 'btn-noborder btn-sm',
        icon: 'fa fa-gear'
    }) %>
<% end %>

<% content_for :global_filter do %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.from_date'),
                name: 'from_date',
                placeholder: t('.select_from_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.to_date'),
                name: 'to_date',
                placeholder: t('.select_to_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'period',
                value: '',
                text: '',
                label: t('.filter_period'),
                placeholder: t('.choose_period'),
                url: erp_periods.dataselect_backend_periods_path(format: 'json')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'customer',
                value: '',
                text: '',
                label: t('.filter_customer'),
                placeholder: t('.choose_customer'),
                url: erp_contacts.dataselect_backend_contacts_path(format: 'json',
                    is_customer: true,
                    contact_id: Erp::Contacts::Contact.get_main_contact.id),
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_ortho_k.report_pay_receive_table_backend_accountings_path,
    sortable: true,
    filters: [
        {
            text: 'Phiếu thu', name: 'pay_receive', value: Erp::Payments::PaymentRecord::TYPE_RECEIVE, checked: true
        },
        {
            text: 'Phiếu chi', name: 'pay_receive', value: Erp::Payments::PaymentRecord::TYPE_PAY, checked: true
        }
    ],
    columns: [
        {
            text: t('.ordinal_number'), name: 'ordinal_number', value: true, checked: true
        },
        {
            text: t('.contact_name'), name: 'contact_name', value: true, checked: true
        },
        {
            text: t('.voucher_date'), name: 'voucher_date', value: true, checked: true
        },
        {
            text: t('.pay_receive'), name: 'pay_receive', value: true, checked: true
        },
        {
            text: t('.description'), name: 'description', value: true, checked: false
        },
        {
            text: t('.amount'), name: 'amount', value: true, checked: true
        },
    ]
) %>
