<li class="nav-item <%= "active open" if ["erp/accounting/backend/sales_orders",
                                          "erp/accounting/backend/purchase_orders",
                                          "erp/accounting/backend/sales_product_returns",
                                          "erp/accounting/backend/purchase_product_returns",
                                          "erp/payments/backend/accounts",
                                          "erp/payments/backend/payment_records",
                                          "erp/payments/backend/payment_types"].include?(params[:controller]) ||
                                          (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "sales_orders_tracking") ||
                                          (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "liabilities_tracking") ||
                                          (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "supplier_liabilities_tracking") ||
                                          (params[:controller] == "erp/payments/backend/payment_records" && (params[:action] == "commission" || params[:action] == "target_commission")) ||
                                          (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "customer_commission") %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-calendar"></i>
        <span class="title"><%= t('.accountant') %></span>
        <% if ["erp/accounting/backend/sales_orders",
              "erp/accounting/backend/purchase_orders",
              "erp/accounting/backend/sales_product_returns",
              "erp/accounting/backend/purchase_product_returns",
              "erp/payments/backend/accounts",
              "erp/payments/backend/payment_records",
              "erp/payments/backend/payment_types"].include?(params[:controller]) ||
              (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "sales_orders_tracking") ||
              (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "liabilities_tracking") ||
              (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "supplier_liabilities_tracking") ||
              (params[:controller] == "erp/payments/backend/payment_records" && (params[:action] == "commission" || params[:action] == "target_commission")) ||
              (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "customer_commission") %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
        <span class="notification-badge-container notification-accounting"></span>
    </a>
    <ul class="sub-menu">
        <% if can? :menu_accounting_payments_payment_records, nil %>
            <li class="nav-item <%= "active open" if
                ["erp/payments/backend/payment_records"].include?(params[:controller]) &&
                !["sales_orders_tracking","liabilities_tracking","supplier_liabilities_tracking",
                  "customer_commission","commission","target_commission"].include?(params[:action])
            %>">
                <a href="<%= erp_payments.backend_payment_records_path %>" class="nav-link ">
                    <span class="title"><%= t('.cash_book') %></span>
                    <% if ["erp/payments/backend/payment_records"].include?(params[:controller]) %>
                    <span class="selected"></span>
                    <% end %>
                </a>
            </li>
        <% end %>
        
        <% if can? :menu_accounting_chase_chase, nil %>
            <%= render "layouts/erp/backend/menu/accounting/payment_chase" %>
        <% end %>
        
        <% if can? :menu_accounting_chase_liabilities, nil %>
            <%= render "layouts/erp/backend/menu/accounting/liabilities" %>
        <% end %>
        
        <% if can? :menu_dang_doi_orthok_xem_lai_phan_hoa_hong, nil %>
            <%= render "layouts/erp/backend/menu/accounting/commission" %>
        <% end %>
        
        <% if can? :menu_accounting_payments_option, nil %>
            <%= render "layouts/erp/backend/menu/accounting/option" %>
        <% end %>
    </ul>
</li>
