<li class="nav-item <%= "active open" if ["erp/accounting/backend/sales_orders",
                                          "erp/accounting/backend/purchase_orders",
                                          "erp/accounting/backend/product_returns",
                                          "erp/payments/backend/accounts",
                                          "erp/payments/backend/payment_records",
                                          "erp/payments/backend/payment_types"].include?(params[:controller]) ||
                                          (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "liabilities_tracking") ||
                                          (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "supplier_liabilities_tracking") ||
                                          (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "commission") ||
                                          (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "customer_commission") %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-calendar"></i>
        <span class="title"><%= t('.accountant') %></span>
        <% if ["erp/accounting/backend/sales_orders",
              "erp/accounting/backend/purchase_orders",
              "erp/accounting/backend/product_returns",
              "erp/payments/backend/accounts",
              "erp/payments/backend/payment_records",
              "erp/payments/backend/payment_types"].include?(params[:controller]) ||
              (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "liabilities_tracking") ||
              (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "supplier_liabilities_tracking") ||
              (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "commission") ||
              (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "customer_commission") %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active open" if ["erp/payments/backend/payment_records"].include?(params[:controller]) %>">
            <a href="<%= erp_payments.backend_payment_records_path %>" class="nav-link ">
                <span class="title"><%= t('.cash_book') %></span>
                <% if ["erp/payments/backend/payment_records"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>

        <%= render "layouts/erp/backend/menu/accounting/payment_chase" %>

        <%= render "layouts/erp/backend/menu/accounting/liabilities" %>

        <%= render "layouts/erp/backend/menu/accounting/commission" %>

        <%= render "layouts/erp/backend/menu/accounting/option" %>
        
    </ul>
</li>
