<li class="nav-item <%= "active open" if [# check params menu qdeliveries
    "erp/qdeliveries/backend/deliveries",
    "erp/qdeliveries/backend/sales",
    "erp/qdeliveries/backend/purchases",
    # end check params menu qdeliveries

    # check params menu products
    "erp/products/backend/products",
    "erp/products/backend/states",
    "erp/products/backend/properties",
    "erp/products/backend/categories",
    "erp/products/backend/brands",
    "erp/ortho_k/backend/setting",
    # end check params menu products

    "erp/order_stock_checks/backend/schecks",
    "erp/products/backend/state_checks",
    "erp/products/backend/stock_checks",
    "erp/products/backend/damage_records",
    "erp/warehouses/backend/warehouses",

    # check params menu transfers
    "erp/stock_transfers/backend/transfers"].include?(params[:controller]) ||

    ["erp/purchase/backend/purchases"].include?(params[:controller]) ||
    ["erp/ortho_k/backend/setting"].include?(params[:controller]) ||
    (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "stock_importing") ||
    (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "purchasing_export") ||
    (params[:controller] == "erp/prices/backend/supplier_prices" && (params[:action] == "index" || params[:action] == "update_contact")) ||
    (params[:controller] == "erp/prices/backend/supplier_prices" && (params[:action] == "general" || params[:action] == "general_update")) ||


    (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "stock_transfering")
    # end check params menu transfers
%>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-drawer"></i>
        <span class="title"><%= t('.inventory') %></span>
        <% if  [
            # check params menu qdeliveries
            "erp/qdeliveries/backend/deliveries",
            "erp/qdeliveries/backend/sales",
            "erp/qdeliveries/backend/purchases",
            # end check params menu qdeliveries

            # check params menu products
            "erp/products/backend/products",
            "erp/products/backend/states",
            "erp/products/backend/properties",
            "erp/products/backend/categories",
            "erp/products/backend/brands",
            "erp/ortho_k/backend/setting",
            # end check params menu products

            "erp/order_stock_checks/backend/schecks",
            "erp/products/backend/state_checks",
            "erp/products/backend/stock_checks",

            "erp/products/backend/damage_records",

            "erp/warehouses/backend/warehouses",

            # check params menu transfers
            "erp/stock_transfers/backend/transfers"].include?(params[:controller]) ||

            ["erp/purchase/backend/purchases"].include?(params[:controller]) ||
            ["erp/ortho_k/backend/setting"].include?(params[:controller]) ||
            (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "stock_importing") ||
            (params[:controller] == "erp/prices/backend/supplier_prices" && (params[:action] == "index" || params[:action] == "update_contact")) ||
            (params[:controller] == "erp/prices/backend/supplier_prices" && (params[:action] == "general" || params[:action] == "general_update")) ||

            (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "stock_transfering")
        %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>

        <span class="notification-badge-container notification-inventory"></span>
    </a>
    <ul class="sub-menu">

        <% if Erp::Core.available?("order_stock_checks") and can? :menu_inventory_order_stock_checks, nil %>
            <li class="nav-item <%= "active open" if ["erp/order_stock_checks/backend/schecks"].include?(params[:controller]) %>">
                <a href="<%= erp_order_stock_checks.backend_schecks_path %>" class="nav-link ">
                    <span class="title">
                        <i class="glyphicon glyphicon-check"></i>
                        <%= t('.order_stock_checks') %>
                    </span>
                    <% if ["erp/order_stock_checks/backend/schecks"].include?(params[:controller]) %>
                    <span class="selected"></span>
                    <% end %>

                    <span class="notification-badge-container notification-inventory_stock_checking_orders_count"></span>
                </a>
            </li>
        <% end %>

        <% if Erp::Core.available?("qdeliveries") and can? :menu_inventory_qdeliveries, nil %>
            <%= render "layouts/erp/backend/menu/inventory/qdeliveries" %>
        <% end %>

        <% if Erp::Core.available?("stock_transfers") and can? :menu_inventory_stock_transfers, nil %>
            <%= render "layouts/erp/backend/menu/inventory/transfers" %>
        <% end %>

        <% if Erp::Core.available?("products") and can? :menu_inventory_warehouse_checks, nil %>
            <%= render "layouts/erp/backend/menu/inventory/warehouse_check" %>
        <% end %>

        <% if Erp::Core.available?("products") and can? :menu_inventory_products, nil %>
            <%= render "layouts/erp/backend/menu/inventory/products" %>
        <% end %>
        
        <% if can? :menu_purchase_purchase, nil %>
            <%= render "layouts/erp/backend/menu/inventory/purchases" %>
        <% end %>
    </ul>
</li>
