<li class="nav-item <%= "active open" if ["erp/products/backend/products",
                                          "erp/products/backend/properties",
                                          "erp/products/backend/categories",
                                          "erp/products/backend/brands",
                                          "erp/products/backend/states",
                                          "erp/products/backend/state_checks",
                                          "erp/orthok/backend/products/central_areas"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-archive"></i>
        <span class="title"><%= t('.product') %></span>
        <% if ["erp/products/backend/products",
               "erp/products/backend/properties",
               "erp/products/backend/categories",
               "erp/products/backend/brands",
               "erp/products/backend/states",
               "erp/products/backend/state_checks",
               "erp/orthok/backend/products/central_areas"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active open" if ["erp/products/backend/products"].include?(params[:controller]) %>">
            <a href="<%= erp_products.backend_products_path %>" class="nav-link ">
                <span class="title"><%= t('.products') %></span>
                <% if ["erp/products/backend/products"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/products/backend/states"].include?(params[:controller]) %>">
            <a href="<%= erp_products.backend_states_path %>" class="nav-link ">
                <span class="title"><%= t('.states') %></span>
                <% if ["erp/products/backend/states"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/products/backend/state_checks"].include?(params[:controller]) %>">
            <a href="<%= erp_products.backend_state_checks_path %>" class="nav-link ">
                <span class="title"><%= t('.state_checks') %></span>
                <% if ["erp/products/backend/state_checks"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/products/backend/properties"].include?(params[:controller]) %>">
            <a href="<%= erp_products.backend_properties_path %>" class="nav-link ">
                <span class="title"><%= t('.properties') %></span>
                <% if ["erp/products/backend/properties"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/products/backend/categories"].include?(params[:controller]) %>">
            <a href="<%= erp_products.backend_categories_path %>" class="nav-link ">
                <span class="title"><%= t('.categories') %></span>
                <% if ["erp/products/backend/categories"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/products/backend/brands"].include?(params[:controller]) %>">
            <a href="<%= erp_products.backend_brands_path %>" class="nav-link ">
                <span class="title"><%= t('.brands') %></span>
                <% if ["erp/products/backend/brands"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item <%= "active open" if ["erp/orthok/backend/products/central_areas"].include?(params[:controller]) %>">
            <a href="<%= erp_ortho_k.backend_setting_path %>" class="nav-link ">
                <span class="title"><%= t('.central_areas') %></span>
                <% if ["erp/orthok/backend/setting/index"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
    </ul>
</li>
