<% content_for :title do %>
    <%= t('.dashboard') %>
<% end %>
<div class="note note-info">
    <p> HỆ THỐNG QUẢN TRỊ - DASHBOARD HỆ THỐNG (ĐANG TRONG GIAI ĐOẠN PHÁT TRIỂN)</p>
</div>

<ul class="dashboard-menu">
    <% if can? :menu_sales, nil %>
        <%= render "layouts/erp/backend/menu/sales" %>
    <% end %>
    <% if can? :menu_inventory, nil %>
        <%= render "layouts/erp/backend/menu/inventory" %>
    <% end %>
    <% if can? :menu_accounting, nil %>
        <%= render "layouts/erp/backend/menu/accountant" %>
    <% end %>
    <% if can? :menu_contact, nil %>
        <%= render "layouts/erp/backend/menu/contact" %>
    <% end %>
    <%= render "layouts/erp/backend/menu/report" %>
    <% if can? :menu_option, nil %>
        <%= render "layouts/erp/backend/menu/option" %>
    <% end %>
    <% if can? :menu_system, nil %>
        <%= render "layouts/erp/backend/menu/system" %>
    <% end %>
    <%= render "layouts/erp/backend/menu/support" %>
</ul>
