<div class="col-md-12">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-transfer"></i>
                <%= t('.transfer_details') %>:
                <%= t('.from') + ' ' + @transfer.source_warehouse_name + ' ' +
                + t('.to') + ' ' + @transfer.destination_warehouse_name %>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-left"><%= t('.category') %></th>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-left"><%= t('.product_name') %></th>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-left"><%= t('.unit') %></th>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-center"><%= t('.quantity') %></th>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-center"><%= t('.source_warehouse') %></th>
                            <th class="bg-yellow bg-font-yellow text-nowrap text-center"><%= t('.destination_warehouse') %></th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                            <td class="bg-green" colspan="3"><strong> TỔNG CỘNG </strong></td>
                            <td class="bg-green text-center"><strong><%= @transfer.cache_products_count %></strong></td>
                            <td class="bg-green" colspan="2"></td>
                        </tr>
                        <% @transfer.transfer_details.each do |transfer_detail| %>
                            <tr>
                                <td class="text-left"><%= transfer_detail.product.category_name %></td>
                                <td class="text-left"><%= transfer_detail.product_name %></td>
                                <td class="text-left"><%= transfer_detail.product.unit_name %></td>
                                <td class="text-center"><%= format_number(transfer_detail.quantity) %></td>
                                <td class="text-center">
                                    <%= @transfer.source_warehouse_name %>
                                </td>
                                <td class="text-center">
                                    <%= @transfer.destination_warehouse_name %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>

</div>
