<% if params[:global_filter][:from_date].present? and params[:global_filter][:to_date].present? %>
    <div class="row">
        <div class="col-md-10">
            <div class="custom-show text-center">
                <h4 class="font-blue-madison bold uppercase mb-15">
                    Báo cáo xuất - nhập - tồn kho <br>
                    <span class="font-sm">
                        <% if @period.present? %>
                            (<%= @period.name %>)
                        <% else %>
                            (<%= 'Từ ' + @from_date.strftime('%d/%m/%Y') if !@from_date.nil? %> <%= ' Đến ' + @to_date.strftime('%d/%m/%Y') if !@to_date.nil? %>)
                        <% end %>
                    </span>
                </h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-right mb-10">
                <a target="_blank"
                    href="<%= erp_ortho_k.delivery_report_xlsx_backend_products_path(params.to_unsafe_hash.merge({format: 'xlsx'})) %>
                    target="_blank"
                    class="btn btn-primary"
                >Xuất excel</a>
            </div>
        </div>
    </div>
    
    <% if @group_by_category.nil? and @group_by_property.nil? %>
        <%= render 'erp/ortho_k/backend/products/delivery_report_table/products' %>
    <% elsif @group_by_property.nil? %>
        <%= render 'erp/ortho_k/backend/products/delivery_report_table/category' %>
    <% elsif !@group_by_category.nil? %>
        <%= render 'erp/ortho_k/backend/products/delivery_report_table/category_property' %>
    <% else %>
        <%= render 'erp/ortho_k/backend/products/delivery_report_table/property' %>
    <% end %>
<% else %>
    <div class="alert alert-warning">
        <p>Vui lòng chọn các tham số bắt buộc:
            <br>- <strong>Từ ngày</strong>
            <br>- <strong>Đến ngày</strong>
        </p>
    </div>
<% end %>
