<% content_for :title do %>
    <%= t('.delivery_report') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> <%= t('.delivery_report') %>
<% end %>

<% content_for :global_filter do %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.from_date'),
                name: 'from_date',
                value: @from_date,
                placeholder: t('.select_from_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.to_date'),
                name: 'to_date',
                value: @to_date,
                placeholder: t('.select_to_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('dataselect', {
                label: 'Mốc thời gian',
                name: 'period',
                value: '',
                placeholder: t('.select_to_date'),
                url: erp_periods.dataselect_backend_periods_path(format: 'json'),
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'categories',
                value: '',
                text: '',
                label: t('.category'),
                placeholder: t('.choose_category'),
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'warehouse_ids',
                value: '',
                text: '',
                label: t('.warehouse'),
                placeholder: t('.choose_warehouse'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'state_ids',
                value: '',
                text: '',
                label: 'Tình trạng',
                placeholder: 'Tất cả tình trạng',
                url: erp_products.dataselect_backend_states_path(format: 'json'),
                multiple: true
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'group_by_category',
                value: '',
                text: '',
                label: t('.group_by_category'),
                placeholder: t('.choose_group_by_category'),
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
                include_all: {text: t('.all_category'), value: 'all'},
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'group_by_property',
                value: '',
                text: '',
                label: t('.group_by_property'),
                placeholder: t('.choose_group_by_property'),
                url: erp_products.dataselect_backend_properties_path(format: 'json'),
            }) %>
        </div>
        <div class="col-md-6 text-right">
            <label style="display: block" class="invisible">.</label>
            <%= erp_component('button/export', {
                text: '<i class="fa fa-download"></i> ' + t('.export_sheet')
            }) %>
            <%= erp_component('button/export', {
                text: '<i class="fa fa-download"></i> ' + t('.export_pdf')
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_ortho_k.delivery_report_table_backend_products_path,
    sortable: true,
    keywords: [
        {
            text: t('.name'), name: 'erp_products_products.name'
        },
    ],
    filters: [
        {
            text: t('.show_virtual'), name: 'show_virtual', value: true, checked: false
        },
        {
            divider: true
        },
        {
            text: t('.state_normal'), name: 'state_normal', value: true, checked: true
        },
        {
            text: t('.state_scratched'), name: 'state_scratched', value: true, checked: false
        },
        {
            text: t('.state_broken'), name: 'state_broken', value: true, checked: false
        },
    ],
    columns: [
    ],
    header: 'dddddd'
) %>
