<% content_for :title do %>
    <%= t('.export_report') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> <%= t('.export_report') %>
<% end %>

<% content_for :global_filter do %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.from_date'),
                name: 'from_date',
                placeholder: t('.select_from_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.to_date'),
                name: 'to_date',
                placeholder: t('.select_to_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'category',
                value: '',
                text: '',
                label: t('.filter_category'),
                placeholder: t('.choose_category'),
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'warehouse',
                value: '',
                text: '',
                label: t('.filter_warehouse'),
                placeholder: t('.choose_warehouse'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('select', {
                label: t('.filter_currency'),
                name: 'currency',
                value: '',
                text: '',
                options: [ {text: 'USD',value: ''}, {text: 'VNĐ',value: ''}, {text: 'Tất cả',value: ''} ]
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'customer',
                value: '',
                text: '',
                label: t('.filter_customer'),
                placeholder: t('.chooose_customer'),
                url: erp_contacts.dataselect_backend_contacts_path(format: 'json'),
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'product',
                value: '',
                text: '',
                label: t('.filter_product'),
                placeholder: t('.chooose_product'),
                url: erp_products.dataselect_backend_products_path(format: 'json'),
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_ortho_k.export_report_table_backend_products_path,
    sortable: true,
    keywords: [
        {
            text: t('.name'), name: 'erp_products_products.name'
        },
    ],
    filters: [
        {
            text: 'Hàng mới', name: '', value: true, checked: false
        },
        {
            text: 'Hàng xước', name: '', value: true, checked: false
        },
        {
            text: 'Hàng vỡ', name: '', value: true, checked: false
        },
        {
            divider: true
        },
        {
            text: 'Xuất chuyển kho', name: '', value: true, checked: false
        },
        {
            text: 'Xuất trả hàng mua', name: '', value: true, checked: false
        },
        {
            text: 'Xuất hàng bán', name: '', value: true, checked: false
        },
        {
            text: 'Xuất cho mượn/ký gửi', name: '', value: true, checked: false
        },
        {
            text: 'Xuất hàng tặng', name: '', value: true, checked: false
        },
        {
            text: 'Xuất hủy hàng hóa', name: '', value: true, checked: false
        },
    ],
    columns: [
        {
            text: t('.record_date'), name: 'record_date', value: true, checked: true
        },
        {
            text: t('.voucher_date'), name: 'voucher_date', value: true, checked: true
        },
        {
            text: t('.voucher_code'), name: 'voucher_code', value: true, checked: true
        },
        {
            text: t('.customer'), name: 'customer', value: true, checked: true
        },
        {
            text: t('.code'), name: 'code', value: true, checked: true
        },
        {
            text: t('.diameter'), name: 'diameter', value: true, checked: true
        },
        {
            text: t('.category'), name: 'category', value: true, checked: true
        },
        {
            text: t('.product_name'), name: 'product_name', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('.description'), name: 'description', value: true, checked: true
        },
        {
            text: t('.status'), name: 'status', value: true, checked: true
        },
        {
            text: t('.warehouse'), name: 'warehouse', value: true, checked: true
        },
        {
            text: t('.unit'), name: 'unit', value: true, checked: true
        },
        {
            text: t('.unknown_1'), name: 'unknown_1', value: true, checked: true
        },
        {
            text: t('.unknown_2'), name: 'unknown_2', value: true, checked: true
        },
        {
            text: t('.currency'), name: 'currency', value: true, checked: true
        },
        {
            text: t('.rate'), name: 'rate', value: true, checked: true
        },
        {
            text: t('.p_price'), name: 'p_price', value: true, checked: true
        },
        {
            text: t('.tax_amount'), name: 'tax_amount', value: true, checked: true
        },
        {
            text: t('.other_fees'), name: 'other_fees', value: true, checked: true
        },
        {
            text: t('.unknown_3'), name: 'unknown_3', value: true, checked: true
        },
        {
            text: t('.unknown_4'), name: 'unknown_4', value: true, checked: true
        },
        {
            text: t('.s_price'), name: 's_price', value: true, checked: true
        },
        {
            text: t('.unknown_5'), name: 'unknown_5', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: true
        },
    ],
    header: 'dddddd'
) %>
