<%
total_colspan_1 = (get_columns(params).include?("record_date") ? 1 : 0) +
        (get_columns(params).include?("voucher_date") ? 1 : 0) +
        (get_columns(params).include?("voucher_code") ? 1 : 0) +
        (get_columns(params).include?("customer") ? 1 : 0) +
        (get_columns(params).include?("code") ? 1 : 0) +
        (get_columns(params).include?("diameter") ? 1 : 0) +
        (get_columns(params).include?("category") ? 1 : 0) +
        (get_columns(params).include?("product_name") ? 1 : 0)
        
total_colspan_2 = (get_columns(params).include?("description") ? 1 : 0) +
        (get_columns(params).include?("status") ? 1 : 0) +
        (get_columns(params).include?("warehouse") ? 1 : 0) +
        (get_columns(params).include?("unit") ? 1 : 0)
total_colspan_3 = (get_columns(params).include?("currency") ? 1 : 0) +
        (get_columns(params).include?("rate") ? 1 : 0) +
        (get_columns(params).include?("p_price") ? 1 : 0)

product_code_colspan = (get_columns(params).include?("code") ? 1 : 0) +
        (get_columns(params).include?("diameter") ? 1 : 0) +
        (get_columns(params).include?("category") ? 1 : 0)
purchase_price_colspan = (get_columns(params).include?("currency") ? 1 : 0) +
        (get_columns(params).include?("rate") ? 1 : 0) +
        (get_columns(params).include?("p_price") ? 1 : 0) +
        (get_columns(params).include?("tax_amount") ? 1 : 0) +
        (get_columns(params).include?("other_fees") ? 1 : 0) +
        (get_columns(params).include?("unknown_3") ? 1 : 0) +
        (get_columns(params).include?("unknown_4") ? 1 : 0)
sales_price_colspan = (get_columns(params).include?("s_price") ? 1 : 0) +
        (get_columns(params).include?("unknown_5") ? 1 : 0)
%>

<div class="table-scrollable">
    <table class="table table-bordered table-advance order-column" id="">
        <tr>
            <%= "<td colspan='#{total_colspan_1}'></td>".html_safe if total_colspan_1 > 0 %>
            <% if get_columns(params).include?("quantity") %>
            <td class="text-center stock-num text-bold bg-warning"><%= (0..1000).to_a.sample %></td>
            <% end %>
            <%= "<td colspan='#{total_colspan_2}'></td>".html_safe if total_colspan_2 > 0 %>
            <% if get_columns(params).include?("unknown_1") %>
            <td class="text-right stock-num text-bold text-primary"><%= format_number((400..999).to_a.sample*1000) %></td>
            <% end %>
            <% if get_columns(params).include?("unknown_2") %>
            <td class="text-right stock-num text-bold text-primary"><%= format_number((400..999).to_a.sample*1000) %></td>
            <% end %>
            <%= "<td colspan='#{total_colspan_3}'></td>".html_safe if total_colspan_3 > 0 %>
            <% if get_columns(params).include?("tax_amount") %>
            <td class="text-right stock-num text-bold font-green-seagreen"><%= format_number((50..500).to_a.sample*1000) %></td>
            <% end %>
            <% if get_columns(params).include?("other_fees") %>
            <td class="text-right stock-num text-bold font-green-seagreen"><%= format_number((50..500).to_a.sample*1000) %></td>
            <% end %>
            <% if get_columns(params).include?("unknown_3") %>
            <td class="text-right stock-num text-bold text-warning"><%= format_number((400..999).to_a.sample*1000) %></td>
            <% end %>
            <% if get_columns(params).include?("unknown_4") %>
            <td class="text-right stock-num text-bold font-yellow-gold"><%= format_number((400..999).to_a.sample*1000) %></td>
            <% end %>
            <% if get_columns(params).include?("s_price") %>
            <td colspan="1"></td>
            <% end %>
            <% if get_columns(params).include?("unknown_5") %>
            <td class="text-right stock-num text-bold font-yellow-gold"><%= format_number((400..999).to_a.sample*1000) %></td>
            <% end %>
            <% if get_columns(params).include?("note") %>
            <td colspan="1"></td>
            <% end %>
        </tr>
        <tr>
            <% if get_columns(params).include?("record_date") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2"><%= t('.record_date') %></th>
            <% end %>
            <% if get_columns(params).include?("voucher_date") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2"><%= t('.voucher_date') %></th>
            <% end %>
            <% if get_columns(params).include?("voucher_code") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2"><%= t('.voucher_code') %></th>
            <% end %>
            <% if get_columns(params).include?("customer") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2"><%= t('.customer') %></th>
            <% end %>
            <% if get_columns(params).include?("code") or get_columns(params).include?("diameter") or get_columns(params).include?("category") %>
                <th class="bg-green-sharp bg-font-green-sharp text-center text-nowrap" colspan="<%= product_code_colspan %>"><%= t('.product_code') %></th>
            <% end %>
            <% if get_columns(params).include?("product_name") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2" width="7%"><%= t('.product_name') %></th>
            <% end %>
            <% if get_columns(params).include?("quantity") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2" width="7%"><%= t('.quantity') %></th>
            <% end %>
            <% if get_columns(params).include?("description") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2" width="7%"><%= t('.description') %></th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2" width="7%"><%= t('.status') %></th>
            <% end %>
            <% if get_columns(params).include?("warehouse") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2" width="7%"><%= t('.warehouse') %></th>
            <% end %>
            <% if get_columns(params).include?("unit") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2" width="7%"><%= t('.unit') %></th>
            <% end %>
            <% if get_columns(params).include?("unknown_1") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2" width="7%"><%= t('.unknown_1') %></th>
            <% end %>
            <% if get_columns(params).include?("unknown_2") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2" width="7%"><%= t('.unknown_2') %></th>
            <% end %>
            <% if get_columns(params).include?("currency") or get_columns(params).include?("rate") or get_columns(params).include?("p_price") or get_columns(params).include?("tax_amount") or
                get_columns(params).include?("other_fees") or get_columns(params).include?("unknown_3") or get_columns(params).include?("unknown_4") %>
                <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" colspan="<%= purchase_price_colspan %>"><%= t('.purchase_price') %></th>
            <% end %>
            <% if get_columns(params).include?("s_price") or get_columns(params).include?("unknown_5") %>
                <th class="bg-yellow-mint bg-font-yellow-mint text-center text-nowrap" colspan="<%= sales_price_colspan %>"><%= t('.sales_price') %></th>
            <% end %>
            <% if get_columns(params).include?("note") %>
                <th class="bg-grey text-center text-nowrap" rowspan="2" width="7%"><%= t('.note') %></th>
            <% end %>
        </tr>
        <tr>
            <% if get_columns(params).include?("code") %>
            <th class="bg-green-sharp bg-font-green-sharp text-center text-nowrap" width="7%"><%= t('.code') %></th>
            <% end %>
            <% if get_columns(params).include?("diameter") %>
            <th class="bg-green-sharp bg-font-green-sharp text-center text-nowrap" width="7%"><%= t('.diameter') %></th>
            <% end %>
            <% if get_columns(params).include?("category") %>
            <th class="bg-green-sharp bg-font-green-sharp text-center text-nowrap" width="7%"><%= t('.category') %></th>
            <% end %>
            <% if get_columns(params).include?("currency") %>
            <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.currency') %></th>
            <% end %>
            <% if get_columns(params).include?("rate") %>
            <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.rate') %></th>
            <% end %>
            <% if get_columns(params).include?("p_price") %>
            <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.price') %></th>
            <% end %>
            <% if get_columns(params).include?("tax_amount") %>
            <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.tax_amount') %></th>
            <% end %>
            <% if get_columns(params).include?("other_fees") %>
            <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.other_fees') %></th>
            <% end %>
            <% if get_columns(params).include?("unknown_3") %>
            <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.unknown_3') %></th>
            <% end %>
            <% if get_columns(params).include?("unknown_4") %>
            <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.unknown_4') %></th>
            <% end %>
            <% if get_columns(params).include?("s_price") %>
            <th class="bg-yellow-mint bg-font-yellow-mint text-center text-nowrap" width="7%"><%= t('.price') %></th>
            <% end %>
            <% if get_columns(params).include?("unknown_5") %>
            <th class="bg-yellow-mint bg-font-yellow-mint text-center text-nowrap" width="7%"><%= t('.unknown_5') %></th>
            <% end %>
        </tr>
        <% @rows.each_with_index do |row,index| %>
            <tr>
                <% if get_columns(params).include?("record_date") %>
                <td class="text-left"><%= format_date(row[:record_date]) %></td>
                <% end %>
                <% if get_columns(params).include?("voucher_date") %>
                <td class="text-left"><%= format_date(row[:voucher_date]) %></td>
                <% end %>
                <% if get_columns(params).include?("voucher_code") %>
                <td class="text-left"><%= row[:voucher_code] %></td>
                <% end %>
                <% if get_columns(params).include?("customer") %>
                <td class="text-left"><%= row[:customer_name] %></td>
                <% end %>
                <% if get_columns(params).include?("code") %>
                <td class="text-left"><%= row[:product_code] %></td>
                <% end %>
                <% if get_columns(params).include?("diameter") %>
                <td class="text-left"><%= row[:diameter] %></td>
                <% end %>
                <% if get_columns(params).include?("category") %>
                <td class="text-left"><%= row[:category] %></td>
                <% end %>
                <% if get_columns(params).include?("product_name") %>
                <td class="text-left"><%= row[:product_name] %></td>
                <% end %>
                <% if get_columns(params).include?("quantity") %>
                <td class="text-center stock-num bg-warning"><%= row[:quantity] %></td>
                <% end %>
                <% if get_columns(params).include?("description") %>
                <td class="text-left"><%= row[:description] %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td class="text-left"><%= ['Mới','Vỡ','Xước','Sau 1 năm'].to_a.sample %></td>
                <% end %>
                <% if get_columns(params).include?("warehouse") %>
                <td class="text-left"><%= row[:warehouse] %></td>
                <% end %>
                <% if get_columns(params).include?("unit") %>
                <td class="text-left"><%= row[:unit] %></td>
                <% end %>
                <% if get_columns(params).include?("unknown_1") %>
                <td class="text-right stock-num text-primary"><%= format_number((100..500).to_a.sample*1000) %></td>
                <% end %>
                <% if get_columns(params).include?("unknown_2") %>
                <td class="text-right stock-num text-primary"><%= format_number((100..500).to_a.sample*1000) %></td>
                <% end %>
                <% if get_columns(params).include?("currency") %>
                <td class="text-left"><%= ['USD','VNĐ'].to_a.sample %></td>
                <% end %>
                <% if get_columns(params).include?("rate") %>
                <td class="text-center stock-num"></td>
                <% end %>
                <% if get_columns(params).include?("p_price") %>
                <td class="text-center stock-num"></td>
                <% end %>
                <% if get_columns(params).include?("tax_amount") %>
                <td class="text-right stock-num font-green-seagreen"><%= format_number((50..500).to_a.sample*1000) %></td>
                <% end %>
                <% if get_columns(params).include?("other_fees") %>
                <td class="text-right stock-num font-green-seagreen"><%= format_number((50..500).to_a.sample*1000) %></td>
                <% end %>
                <% if get_columns(params).include?("unknown_3") %>
                <td class="text-right stock-num text-warning"><%= format_number((50..500).to_a.sample*1000) %></td>
                <% end %>
                <% if get_columns(params).include?("unknown_4") %>
                <td class="text-right stock-num font-yellow-gold"><%= format_number((50..500).to_a.sample*1000) %></td>
                <% end %>
                <% if get_columns(params).include?("s_price") %>
                <td class="text-center stock-num"></td>
                <% end %>
                <% if get_columns(params).include?("unknown_5") %>
                <td class="text-right stock-num font-yellow-gold"><%= format_number((50..500).to_a.sample*1000) %></td>
                <% end %>
                <% if get_columns(params).include?("note") %>
                <td class="text-center stock-num"></td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>