<% content_for :title do %>
    <%= t('.import_export_report') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> <%= t('.import_export_report') %>
<% end %>

<% content_for :global_filter do %>
    <% dfilters = current_user.get_filters(request.path+"_table").present? ? current_user.get_filters(request.path+"_table") : {}  %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.from_date'),
                name: 'from_date',
                value: (dfilters["from_date"].present? ? dfilters["from_date"].to_date : nil),
                placeholder: t('.select_from_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.to_date'),
                name: 'to_date',
                value: (dfilters["to_date"].present? ? dfilters["to_date"].to_date : nil),
                placeholder: t('.select_to_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'period',
                label: 'Thời gian cố định',
                placeholder: 'Chọn lọc theo ngày chứng từ',
                value: (dfilters["period"].present? ? Erp::Periods::Period.find(dfilters["period"]).id : nil),
                text: (dfilters["period"].present? ? Erp::Periods::Period.find(dfilters["period"]).name : nil),
                url: erp_periods.dataselect_backend_periods_path(format: 'json')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('select', {
                name: 'types',
                label: 'Loại xuất/nhập',
                values: (dfilters["types"].present? ? dfilters["types"] : nil),
                placeholder: 'Chọn loại phiếu xuất nhập',
                options: Erp::Products::Product.get_import_export_type_options,
                multiple: true
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'warehouse_id',
                label: t('.filter_warehouse'),
                placeholder: t('.choose_warehouse'),
                values: (
                    dfilters["warehouse_id"].present? ?
                    (Erp::Warehouses::Warehouse.where(id: dfilters["warehouse_id"]).map{|i| {text: i.name, value: i.id}})
                    : nil
                ),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'category_id',
                label: t('.filter_category'),
                values: (
                    dfilters["category_id"].present? ?
                    (Erp::Products::Category.where(id: dfilters["category_id"]).map{|i| {text: i.name, value: i.id}})
                    : nil
                ),
                placeholder: t('.choose_category'),
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'product_id',
                label: t('.filter_product'),
                values: (
                    dfilters["product_id"].present? ?
                    (Erp::Products::Product.where(id: dfilters["product_id"]).map{|i| {text: i.name, value: i.id}})
                    : nil
                ),
                placeholder: t('.chooose_product'),
                url: erp_products.dataselect_backend_products_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'state_id',
                label: 'Trạng thái sản phẩm',
                values: (
                    dfilters["state_id"].present? ?
                    (Erp::Products::State.where(id: dfilters["state_id"]).map{|i| {text: i.name, value: i.id}})
                    : nil
                ),
                placeholder: 'Lọc theo trạng thái sản phẩm',
                url: erp_products.dataselect_backend_states_path(format: 'json'),
                multiple: true
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'customer_id',
                label: t('.filter_customer'),
                values: (
                    dfilters["customer_id"].present? ?
                    (Erp::Contacts::Contact.where(id: dfilters["customer_id"]).map{|i| {text: i.name, value: i.id}})
                    : nil
                ),
                placeholder: t('.chooose_customer'),
                url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_customer: true),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'supplier_id',
                label: t('.filter_supplier'),
                values: (
                    dfilters["supplier_id"].present? ?
                    (Erp::Contacts::Contact.where(id: dfilters["supplier_id"]).map{|i| {text: i.name, value: i.id}})
                    : nil
                ),
                placeholder: t('.chooose_supplier'),
                url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_supplier: true),
                multiple: true
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('select', {
                name: 'sort_by',
                label: 'Sắp xếp',
                value: (dfilters["sort_by"].present? ? dfilters["sort_by"] : nil),
                placeholder: 'Chọn sắp xếp theo...',
                options: Erp::Products::Product.sort_by_dates
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('select', {
                name: 'order_by',
                label: 'Hướng (Tăng/Giảm)',
                value: (dfilters["order_by"].present? ? dfilters["order_by"] : nil),
                placeholder: 'Chọn hướng sắp xếp...',
                options: Erp::Products::Product.get_order_direction
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('select', {
                name: 'group_by',
                label: 'Nhóm theo',
                value: (dfilters["group_by"].present? ? dfilters["group_by"] : nil),
                placeholder: 'Chọn nhóm theo...',
                options: Erp::Products::Product.get_grouped_bys
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-15 text-right">
            <a class="btn green-jungle global-filter-button">Lọc báo cáo</a>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_ortho_k.import_export_report_table_backend_products_path,
    columns: [
        {
            text: t('.record_date'), name: 'record_date', value: true, checked: true
        },
        {
            text: t('.voucher_date'), name: 'voucher_date', value: true, checked: true
        },
        {
            text: t('.voucher_code'), name: 'voucher_code', value: true, checked: true
        },
        {
            text: t('.related_order'), name: 'related_order', value: true, checked: true
        },
        {
            text: t('.supplier_code'), name: 'supplier_code', value: true, checked: true
        },
        {
            text: t('.supplier_name'), name: 'supplier_name', value: true, checked: true
        },
        {
            text: t('.customer_code'), name: 'customer_code', value: true, checked: true
        },
        {
            text: t('.customer_name'), name: 'customer_name', value: true, checked: true
        },
        {
            text: t('.code'), name: 'code', value: true, checked: false
        },
        {
            text: t('.diameter'), name: 'diameter', value: true, checked: false
        },
        {
            text: t('.category'), name: 'category', value: true, checked: false
        },
        {
            text: t('.product_name'), name: 'product_name', value: true, checked: true
        },
        {
            text: t('.description'), name: 'description', value: true, checked: true
        },
        {
            text: t('.status'), name: 'status', value: true, checked: true
        },
        {
            text: t('.warehouse'), name: 'warehouse', value: true, checked: true
        },
        {
            text: t('.unit'), name: 'unit', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('.p_price'), name: 'p_price', value: true, checked: true
        },
        {
            text: t('.p_tax_amount'), name: 'p_tax_amount', value: true, checked: true
        },
        {
            text: t('.p_total'), name: 'p_total', value: true, checked: true
        },
        {
            text: t('.s_price'), name: 's_price', value: true, checked: true
        },
        {
            text: t('.s_tax_amount'), name: 's_tax_amount', value: true, checked: true
        },
        {
            text: t('.s_discount'), name: 's_discount', value: true, checked: true
        },
        {
            text: t('.s_total'), name: 's_total', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: true
        },
    ],
    autoload: false,
    placeholder: 'Vui lòng chọn điều kiện cần xem và nhấn "Lọc báo cáo"'
) %>
