<% content_for :title do %>
    <%= t('.import_export_report') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> <%= t('.import_export_report') %>
<% end %>

<% content_for :global_filter do %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.from_date'),
                name: 'from_date',
                placeholder: t('.select_from_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.to_date'),
                name: 'to_date',
                placeholder: t('.select_to_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'period',
                label: 'Thời gian cố định',
                placeholder: 'Chọn lọc theo ngày chứng từ',
                url: erp_periods.dataselect_backend_periods_path(format: 'json')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('select', {
                name: 'types',
                label: 'Loại xuất/nhập',
                placeholder: 'Chọn loại phiếu xuất nhập',
                options: Erp::Products::Product.get_import_export_type_options,
                multiple: true
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'warehouse_id',
                label: t('.filter_warehouse'),
                placeholder: t('.choose_warehouse'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'category_id',
                label: t('.filter_category'),
                placeholder: t('.choose_category'),
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'product_id',
                label: t('.filter_product'),
                placeholder: t('.chooose_product'),
                url: erp_products.dataselect_backend_products_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'state_id',
                label: 'Trạng thái sản phẩm',
                placeholder: 'Lọc theo trạng thái sản phẩm',
                url: erp_products.dataselect_backend_states_path(format: 'json'),
                multiple: true
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'customer_id',
                label: t('.filter_customer'),
                placeholder: t('.chooose_customer'),
                url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_customer: true),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'supplier_id',
                label: t('.filter_supplier'),
                placeholder: t('.chooose_supplier'),
                url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_supplier: true),
                multiple: true
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('select', {
                name: 'sort_by',
                label: 'Sắp xếp',
                placeholder: 'Chọn sắp xếp theo...',
                options: Erp::Products::Product.sort_by_dates
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('select', {
                name: 'order_by',
                label: 'Hướng (Tăng/Giảm)',
                placeholder: 'Chọn hướng sắp xếp...',
                options: Erp::Products::Product.get_order_direction
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('select', {
                name: 'group_by',
                label: 'Nhóm theo',
                placeholder: 'Chọn nhóm theo...',
                options: Erp::Products::Product.get_grouped_bys
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_ortho_k.import_export_report_table_backend_products_path,
    sortable: true,
    columns: [
        {
            text: t('.record_date'), name: 'record_date', value: true, checked: true
        },
        {
            text: t('.voucher_date'), name: 'voucher_date', value: true, checked: true
        },
        {
            text: t('.voucher_code'), name: 'voucher_code', value: true, checked: true
        },
        {
            text: t('.supplier_code'), name: 'supplier_code', value: true, checked: true
        },
        {
            text: t('.supplier_name'), name: 'supplier_name', value: true, checked: true
        },
        {
            text: t('.customer_code'), name: 'customer_code', value: true, checked: true
        },
        {
            text: t('.customer_name'), name: 'customer_name', value: true, checked: true
        },
        {
            text: t('.code'), name: 'code', value: true, checked: false
        },
        {
            text: t('.diameter'), name: 'diameter', value: true, checked: false
        },
        {
            text: t('.category'), name: 'category', value: true, checked: false
        },
        {
            text: t('.product_name'), name: 'product_name', value: true, checked: true
        },
        {
            text: t('.description'), name: 'description', value: true, checked: true
        },
        {
            text: t('.status'), name: 'status', value: true, checked: true
        },
        {
            text: t('.warehouse'), name: 'warehouse', value: true, checked: true
        },
        {
            text: t('.unit'), name: 'unit', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('.p_price'), name: 'p_price', value: true, checked: true
        },
        {
            text: t('.p_tax_amount'), name: 'p_tax_amount', value: true, checked: true
        },
        {
            text: t('.p_total'), name: 'p_total', value: true, checked: true
        },
        {
            text: t('.s_price'), name: 's_price', value: true, checked: true
        },
        {
            text: t('.s_tax_amount'), name: 's_tax_amount', value: true, checked: true
        },
        {
            text: t('.s_discount'), name: 's_discount', value: true, checked: true
        },
        {
            text: t('.s_total'), name: 's_total', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: true
        },
    ],
    header: 'dddddd'
) %>
