<% if @from_date.present? and @to_date.present? %>
    <div class="row">
        <div class="col-md-10">
            <div class="custom-show text-center">
                <h4 class="font-blue-madison bold uppercase mb-15">
                    Sổ chi tiết xuất - nhập kho <br>
                    <span class="font-sm">
                        <% if @period.present? %>
                            (<%= @period.name %>)
                        <% else %>
                            (<%= 'Từ ' + @from_date.strftime('%d/%m/%Y') if !@from_date.nil? %> <%= ' Đến ' + @to_date.strftime('%d/%m/%Y') if !@to_date.nil? %>)
                        <% end %>
                    </span>
                </h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-right mb-10">
                <a target="_blank"
                    href="<%= erp_ortho_k.import_export_report_xlsx_backend_products_path(params.to_unsafe_hash.merge({format: 'xlsx'})) %>"
                    target="_blank"
                    class="btn btn-primary"
                >Xuất excel</a>
            </div>
        </div>
    </div>

    <%
    total_colspan_1 = (get_columns(params).include?("record_date") ? 1 : 0) +
        (get_columns(params).include?("voucher_date") ? 1 : 0) +
        (get_columns(params).include?("voucher_code") ? 1 : 0) +
        (get_columns(params).include?("related_order") ? 1 : 0) +
        (get_columns(params).include?("supplier_code") ? 1 : 0) +
        (get_columns(params).include?("supplier_name") ? 1 : 0) +
        (get_columns(params).include?("customer_code") ? 1 : 0) +
        (get_columns(params).include?("customer_name") ? 1 : 0) +
        (get_columns(params).include?("code") ? 1 : 0) +
        (get_columns(params).include?("diameter") ? 1 : 0) +
        (get_columns(params).include?("category") ? 1 : 0) +
        (get_columns(params).include?("product_name") ? 1 : 0) +
        (get_columns(params).include?("description") ? 1 : 0) +
        (get_columns(params).include?("status") ? 1 : 0) +
        (get_columns(params).include?("warehouse") ? 1 : 0) +
        (get_columns(params).include?("unit") ? 1 : 0)
    total_colspan_2 = (get_columns(params).include?("p_price") ? 1 : 0)

    supplier_colspan = (get_columns(params).include?("supplier_code") ? 1 : 0) +
        (get_columns(params).include?("supplier_name") ? 1 : 0)
    customer_colspan = (get_columns(params).include?("customer_code") ? 1 : 0) +
        (get_columns(params).include?("customer_name") ? 1 : 0)
    product_code_colspan = (get_columns(params).include?("code") ? 1 : 0) +
        (get_columns(params).include?("diameter") ? 1 : 0) +
        (get_columns(params).include?("category") ? 1 : 0)
    purchase_price_colspan = (get_columns(params).include?("p_price") ? 1 : 0) +
        (get_columns(params).include?("p_amount") ? 1 : 0) +
        (get_columns(params).include?("p_discount") ? 1 : 0) +
        (get_columns(params).include?("p_tax_amount") ? 1 : 0) +
        (get_columns(params).include?("p_total") ? 1 : 0)
    sales_price_colspan = (get_columns(params).include?("s_price") ? 1 : 0) +
        (get_columns(params).include?("s_amount") ? 1 : 0) +
        (get_columns(params).include?("s_discount") ? 1 : 0) +
        (get_columns(params).include?("s_tax_amount") ? 1 : 0) +
        (get_columns(params).include?("s_total") ? 1 : 0)
    %>

    <div class="table-scrollable">
        <table class="table table-bordered table-advance order-column click-highlight" id="">
                <tr>
                    <%= "<td colspan='#{total_colspan_1}'></td>".html_safe if total_colspan_1 > 0 %>
                    <% if get_columns(params).include?("quantity") %>
                    <td class="text-center stock-num text-bold bg-info">
                        <%= @totals[:quantity] %>
                    </td>
                    <% end %>
                    <%= "<td colspan='#{total_colspan_2}'></td>".html_safe if total_colspan_2 > 0 %>
                    <% if get_columns(params).include?("p_amount") %>
                    <td class="text-right stock-num text-bold font-yellow-gold">
                        <%= format_number(@totals[:pay_subtotal]) %>
                    </td>
                    <% end %>
                    <% if get_columns(params).include?("p_discount") %>
                    <td class="text-right stock-num text-bold font-yellow-gold">
                        <%= format_number(@totals[:pay_discount]) %>
                    </td>
                    <% end %>
                    <% if get_columns(params).include?("p_tax_amount") %>
                    <td class="text-right stock-num text-bold font-yellow-gold">
                        <%= format_number(@totals[:pay_tax_amount]) %>
                    </td>
                    <% end %>
                    <% if get_columns(params).include?("p_total") %>
                    <td class="text-right stock-num text-bold font-yellow-gold">
                        <%= format_number(@totals[:pay_total_amount]) %>
                    </td>
                    <% end %>
                    <% if get_columns(params).include?("s_price") %>
                    <td class="text-right stock-num text-bold font-yellow-gold"></td>
                    <% end %>
                    <% if get_columns(params).include?("s_amount") %>
                    <td class="text-right stock-num text-bold font-yellow-gold">
                        <%= format_number(@totals[:receive_subtotal]) %>
                    </td>
                    <% end %>
                    <% if get_columns(params).include?("s_discount") %>
                    <td class="text-right stock-num text-bold font-yellow-gold">
                        <%= format_number(@totals[:receive_discount]) %>
                    </td>
                    <% end %>
                    <% if get_columns(params).include?("s_tax_amount") %>
                    <td class="text-right stock-num text-bold font-yellow-gold">
                        <%= format_number(@totals[:receive_tax_amount]) %>
                    </td>
                    <% end %>
                    <% if get_columns(params).include?("s_total") %>
                    <td class="text-right stock-num text-bold font-yellow-gold">
                        <%= format_number(@totals[:receive_total_amount]) %>
                    </td>
                    <% end %>
                    <% if get_columns(params).include?("note") %>
                    <td></td>
                    <% end %>
                </tr>
                <tr>
                    <% if get_columns(params).include?("record_date") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" rowspan="2"><%= t('.record_date') %></th>
                    <% end %>
                    <% if get_columns(params).include?("voucher_date") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" rowspan="2"><%= t('.voucher_date') %></th>
                    <% end %>
                    <% if get_columns(params).include?("voucher_code") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" rowspan="2"><%= t('.voucher_code') %></th>
                    <% end %>
                    <% if get_columns(params).include?("related_order") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center" rowspan="2"><%= 'Chứng từ' %> <br><%= 'liên quan' %></th>
                    <% end %>
                    <% if get_columns(params).include?("supplier_code") or get_columns(params).include?("supplier_name") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" colspan="<%= supplier_colspan %>"><%= t('.supplier') %></th>
                    <% end %>
                    <% if get_columns(params).include?("customer_code") or get_columns(params).include?("customer_name") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" colspan="<%= customer_colspan %>"><%= t('.customer') %></th>
                    <% end %>
                    <% if get_columns(params).include?("code") or get_columns(params).include?("diameter") or get_columns(params).include?("category") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" colspan="<%= product_code_colspan %>"><%= t('.product_code') %></th>
                    <% end %>
                    <% if get_columns(params).include?("product_name") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" rowspan="2" width="7%"><%= t('.product_name') %></th>
                    <% end %>
                    <% if get_columns(params).include?("description") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" rowspan="2" width="7%"><%= t('.description') %></th>
                    <% end %>
                    <% if get_columns(params).include?("status") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" rowspan="2" width="7%"><%= t('.status') %></th>
                    <% end %>
                    <% if get_columns(params).include?("warehouse") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" rowspan="2" width="7%"><%= t('.warehouse') %></th>
                    <% end %>
                    <% if get_columns(params).include?("unit") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" rowspan="2" width="7%"><%= t('.unit') %></th>
                    <% end %>
                    <% if get_columns(params).include?("quantity") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" rowspan="2" width="7%"><%= t('.quantity') %></th>
                    <% end %>
                    <% if get_columns(params).include?("p_price") or get_columns(params).include?("p_amount") or get_columns(params).include?("p_tax_amount") or
                        get_columns(params).include?("p_discount") or get_columns(params).include?("p_total") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" colspan="<%= purchase_price_colspan %>"><%= t('.purchase_price') %></th>
                    <% end %>
                    <% if get_columns(params).include?("s_price") or get_columns(params).include?("p_amount") or get_columns(params).include?("s_tax_amount") or
                        get_columns(params).include?("s_discount") or get_columns(params).include?("s_total") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" colspan="<%= sales_price_colspan %>"><%= t('.sales_price') %></th>
                    <% end %>
                    <% if get_columns(params).include?("note") %>
                        <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" rowspan="2" width="7%"><%= t('.note') %></th>
                    <% end %>
                </tr>
                <tr>
                    <% if get_columns(params).include?("supplier_code") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.supplier_code') %></th>
                    <% end %>
                    <% if get_columns(params).include?("supplier_name") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.supplier_name') %></th>
                    <% end %>
                    <% if get_columns(params).include?("customer_code") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.customer_code') %></th>
                    <% end %>
                    <% if get_columns(params).include?("customer_name") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.customer_name') %></th>
                    <% end %>
                    <% if get_columns(params).include?("code") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.code') %></th>
                    <% end %>
                    <% if get_columns(params).include?("diameter") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.diameter') %></th>
                    <% end %>
                    <% if get_columns(params).include?("category") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.category') %></th>
                    <% end %>
                    <% if get_columns(params).include?("p_price") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.price') %></th>
                    <% end %>
                    <% if get_columns(params).include?("p_amount") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.amount') %></th>
                    <% end %>
                    <% if get_columns(params).include?("p_discount") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.discount') %></th>
                    <% end %>
                    <% if get_columns(params).include?("p_tax_amount") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.tax_amount') %></th>
                    <% end %>
                    <% if get_columns(params).include?("p_total") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.total_amount') %></th>
                    <% end %>
                    <% if get_columns(params).include?("s_price") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.price') %></th>
                    <% end %>
                    <% if get_columns(params).include?("s_amount") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.amount') %></th>
                    <% end %>
                    <% if get_columns(params).include?("s_discount") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.discount') %></th>
                    <% end %>
                    <% if get_columns(params).include?("s_tax_amount") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.tax_amount') %></th>
                    <% end %>
                    <% if get_columns(params).include?("s_total") %>
                    <th class="bg-blue-oleo bg-font-blue-oleo text-center text-nowrap" width="7%"><%= t('.total_amount') %></th>
                    <% end %>
                </tr>

            <% if @group_by.present? and !@group_by.include?(Erp::Products::Product::GROUPED_BY_DEFAULT) %>
                <% @groups.each do |item| %>
                    <%= render 'erp/ortho_k/backend/products/import_export_report_table/group_row', item: item %>
                    <%= render 'erp/ortho_k/backend/products/import_export_report_table/report_rows', rows: item[:rows] %>
                <% end %>
            <% else %>
                <%= render 'erp/ortho_k/backend/products/import_export_report_table/report_rows', rows: @rows %>
            <% end %>
        </table>
    </div>
<% else %>
    <div class="alert alert-warning">
        <p>
            <strong>Vui lòng chọn các tham số bắt buộc:</strong><br>
            - Thời gian cố định <i>hoặc</i> Từ ngày - đến ngày
        </p>
    </div>
<% end %>
