<% if @columns.present? and @rows.present? %>
    <table class="table table-advance table-checkable order-column table-matrix" id="">
        <tr>
            <th class="bg-grey" width="6%"></th>
            <% if @row_subs.present? %>
                <th class="bg-grey"></th>
            <% end %>
            <% @columns.each do |column| %>
                <th class="text-center bg-grey" width=""><%= column.value %></th>
            <% end %>
        </tr>
        <% if @column_subs.present? %>
            <tr>
                <th class="bg-grey"></th>
                <% if @row_subs.present? %>
                    <th class="bg-grey"></th>
                <% end %>
                <% @columns.each do |column| %>
                    <% @column_subs.each do |column_sub| %>
                        <% if !Erp::Products::Product.joins(:products_values)
                            .where("erp_products_products.cache_properties LIKE ?", "%[\"#{column.id}\",%")
                            .where("erp_products_products.cache_properties LIKE ?", "%[\"#{column_sub.id}\",%")
                            .empty?
                        %>
                            <th class="text-center bg-grey"><%= column_sub.value %></th>
                        <% end %>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
        <% @rows.each do |row| %>
            <tr>
                <th class="text-center bg-grey" style="padding: 8px"><%= row.value %></th>
                <% if @row_subs.present? %>
                    <th class="text-center bg-grey" width="1%">
                        <% @row_subs.each do |row_sub| %>
                            <% if !Erp::Products::Product.joins(:products_values)
                                .where("erp_products_products.cache_properties LIKE ?", "%[\"#{row.id}\",%")
                                .where("erp_products_products.cache_properties LIKE ?", "%[\"#{row_sub.id}\",%")
                                .empty?
                            %>
                                <%= row_sub.value %>
                            <% end %>
                        <% end %>
                    </th>
                <% end %>
                <% @columns.each do |column| %>
                    <% stock = (0..5).to_a.sample %>
                    <% k1 = stock-1 %>
                    <td class="text-center stock-num stock-num-<%= stock %>" title="<% if stock > 1 %>GỬI: <%= stock-1 %> | SG: <%= stock-k1 %><% end %>"><%= stock %></td>
                <% end %>
            </tr>
        <% end %>
    </table>
    <h3 class="mt-20"><%= t('.summary') %></h3>
    <div class="portlet m-grid m-grid-demo">
        <div class="m-grid-row">
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.total_stock') %></label><br/>
                <strong><%= rand(1200..5000) %></strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label>Hết hàng</label><br/>
                <strong><%= rand(1200..5000) %></strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.equal_1') %></label><br/>
                <strong><%= rand(1200..5000) %></strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.equal_2') %></label><br/>
                <strong><%= rand(1200..5000) %></strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.equal_3') %></label><br/>
                <strong><%= rand(1200..5000) %></strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.from_4') %></label><br/>
                <strong><%= rand(1200..5000) %></strong>
            </div>
        </div>
    </div>
<% else %>
    <div class="alert alert-warning"><%=raw t('.please_select_column_and_row_filter') %></div>
<% end %>
