<% content_for :title do %>
    <%= t('.matrix_report') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> <%= t('.matrix_report') %>
<% end %>

<% content_for :global_filter do %>
    <div class="row">
        <div class="col-md-2">
            <%= erp_form_control("dataselect", {
                name: 'categories',
                value: '',
                text: '',
                label: t('.category'),
                placeholder: t('.all_categories'),
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-2">
            <% diameter = Erp::Products::Property.where(name: "Đường kính").first %>
            <%= erp_form_control("dataselect", {
                name: 'diameters',
                value: '',
                text: '',
                label: Erp::Products::Property.where(name: "Đường kính").first().name,
                placeholder: diameter.name,
                url: erp_products.dataselect_backend_properties_values_path(format: 'json', property_id: diameter.id),
                include_blank: t('.all_diameters'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control("dataselect", {
                name: 'warehouses',
                value: '',
                text: '',
                label: t('.warehouse'),
                placeholder: t('.all_warehouses'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control("dataselect", {
                name: 'states',
                value: '',
                text: '',
                label: 'Trạng thái',
                placeholder: 'Tất cả trạng thái',
                url: erp_products.dataselect_backend_states_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-2">
            <a href="#" class="btn btn-primary mt-25 global-filter-button">Kiểm kho</a>
        </div>
    </div>
<% end %>

<div class="datalist-matrix">
    <%= erp_datalist(
        url: erp_ortho_k.matrix_report_table_backend_products_path,
        sortable: true,
        keywords: false,
        autoload: false,
        filters: [
            {
                text: t('.show_virtual'), name: 'show_virtual', value: true, checked: false
            },
        ],
        columns: [
        ],
        placeholder: 'Vui lòng chọn vùng cần xem và nhấn Kiểm kho'
    ) %>
</div>
