<% if true or @global_filter[:categories].present? or @global_filter[:diameters].present? %>
    <div class="row">
        <div class="col-md-10">
            <div class="custom-show text-center">
                <h4 class="font-blue-madison bold uppercase mb-15">
                    Ma trận báo cáo tổng hợp tồn kho
                </h4>
                <p class="text-center">
                    Loại: <strong><%= @global_filter[:categories].present? ? Erp::Products::Category.where(id: @global_filter[:categories]).map(&:name).join(', ') : 'Tất cả' %></strong> |
                    Đường kính: <strong><%= @global_filter[:diameters].present? ? Erp::Products::PropertiesValue.where(id: @global_filter[:diameters]).map(&:value).join(', ') : 'Tất cả' %></strong> |
                    Kho: <strong><%= @global_filter[:warehouses].present? ? Erp::Warehouses::Warehouse.where(id: @global_filter[:warehouses]).map(&:name).join(', ') : 'Tất cả' %></strong> |
                    Trạng thái: <strong><%= @global_filter[:states].present? ? Erp::Products::State.where(id: @global_filter[:states]).map(&:name).join(', ') : 'Tất cả' %></strong>
                </p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-right mb-10">
                <a target="_blank"
                    href="<%= erp_ortho_k.matrix_report_xlsx_backend_products_path(params.to_unsafe_hash.merge({format: 'xlsx'})) %>"
                    target="_blank"
                    class="btn btn-primary"
                >Xuất excel</a>
            </div>
        </div>
    </div>
    
    <table class="table table-advance table-checkable order-column table-matrix" id="">
        <tr>
            <th class="bg-grey" width="6%"></th>
            <th class="bg-grey" width="6%"></th>
            <% Erp::Products::Product.matrix_cols.each do |col| %>
                <th class="text-center bg-grey" width="">
                    <%= col[:degree] %>
                </th>
            <% end %>
        </tr>
        <tr>
            <th class="bg-grey" width="6%"></th>
            <th class="bg-grey" width="6%"></th>
            <% Erp::Products::Product.matrix_cols.each do |col| %>
                <th class="text-center bg-grey" width="">
                    <%= col[:letter] %>
                </th>
            <% end %>
        </tr>
        <% Erp::Products::Product.matrix_rows.each do |row| %>
            <tr>
                <th class="text-center bg-grey text-nowrap">
                    <%= row[:degree_k] %>
                </th>
                <th class="text-center bg-grey text-nowrap">
                    <%= row[:number] %>
                </th>
                <% Erp::Products::Product.matrix_cols.each do |col| %>
                    <%
                        so_p = Erp::Products::Property.get_number
                        chu_p = Erp::Products::Property.get_letter

                        chu_pv = Erp::Products::PropertiesValue.where(property_id: chu_p.id, value: col[:letter]).first
                        so_pv = Erp::Products::PropertiesValue.where(property_id: so_p.id, value: row[:number]).first

                        stock = Erp::Products::Product.get_stock(
                            properties_value_ids: [chu_pv.id,so_pv.id],
                            categories: @global_filter[:categories],
                            warehouses: @global_filter[:warehouses],
                            states: @global_filter[:states],
                            diameters: @global_filter[:diameters])
                    %>

                    <td class="text-center stock-num stock-num-<%= stock %>"
                        data-tooltip-url="<%= erp_ortho_k.tooltip_warehouse_info_backend_products_path(
                                                    properties_value_ids: [chu_pv.id,so_pv.id],
                                                    categories: @global_filter[:categories],
                                                    warehouses: @global_filter[:warehouses],
                                                    states: @global_filter[:states],
                                                    diameters: @global_filter[:diameters]) %>"
                    >
                        <%= stock %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </table>
    <h3 class="mt-20"><%= t('.summary') %></h3>
    <div class="portlet m-grid m-grid-demo">
        <div class="m-grid-row">
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.total_stock') %></label><br/>
                <strong>
                    <%= Erp::Products::Product.get_stock(
                        categories: @global_filter[:categories],
                        warehouses: @global_filter[:warehouses],
                        states: @global_filter[:states],
                        diameters: @global_filter[:diameters])
                    %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label>Hết hàng</label><br/>
                <strong>
                <%
                    total = Erp::Products::Product.count_stock(
                        stock_operator: '<= 0',
                        categories: @global_filter[:categories],
                        warehouses: @global_filter[:warehouses],
                        states: @global_filter[:states],
                        diameters: @global_filter[:diameters])
                %>
                <%= total %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.equal_1') %></label><br/>
                <strong>
                    <%= Erp::Products::Product.count_stock(
                        stock_operator: '= 1',
                        categories: @global_filter[:categories],
                        warehouses: @global_filter[:warehouses],
                        states: @global_filter[:states],
                        diameters: @global_filter[:diameters])
                    %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.equal_2') %></label><br/>
                <strong>
                    <%= Erp::Products::Product.count_stock(
                        stock_operator: '= 2',
                        categories: @global_filter[:categories],
                        warehouses: @global_filter[:warehouses],
                        states: @global_filter[:states],
                        diameters: @global_filter[:diameters])
                    %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.equal_3') %></label><br/>
                <strong>
                    <%= Erp::Products::Product.count_stock(
                        stock_operator: '= 3',
                        categories: @global_filter[:categories],
                        warehouses: @global_filter[:warehouses],
                        states: @global_filter[:states],
                        diameters: @global_filter[:diameters])
                    %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.from_4') %></label><br/>
                <strong>
                    <%= Erp::Products::Product.count_stock(
                        stock_operator: '>= 4',
                        categories: @global_filter[:categories],
                        warehouses: @global_filter[:warehouses],
                        states: @global_filter[:states],
                        diameters: @global_filter[:diameters])
                    %>
                </strong>
            </div>
        </div>
    </div>
<% else %>
    <div class="alert alert-warning">
        Chọn <strong>Đường kính</strong> hoặc <strong>Loại hàng</strong> để xem
    </div>
<% end %>
