<% if @columns.present? and @rows.present? %>
    <table class="table table-advance table-checkable order-column table-matrix" id="">
        <tr>
            <th class="bg-grey" width="6%"></th>
            <% if @row_subs.present? %>
                <th class="bg-grey"></th>
            <% end %>
            <% @columns.each do |column| %>
                <th class="text-center bg-grey" width=""><%= column.value %></th>
            <% end %>
        </tr>
        <% if @column_subs.present? %>
            <tr>
                <th class="bg-grey"></th>
                <% if @row_subs.present? %>
                    <th class="bg-grey"></th>
                <% end %>
                <% @columns.each do |column| %>
                    <% @column_subs.each do |column_sub| %>
                        <% if !Erp::Products::Product.joins(:products_values)
                            .where("erp_products_products.cache_properties LIKE ?", "%[\"#{column.id}\",%")
                            .where("erp_products_products.cache_properties LIKE ?", "%[\"#{column_sub.id}\",%")
                            .empty?
                        %>
                            <th class="text-center bg-grey"><%= column_sub.value %></th>
                        <% end %>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
        <% @rows.each do |row| %>
            <tr>
                <th class="text-center bg-grey" style="padding: 8px"><%= row.value %></th>
                <% if @row_subs.present? %>
                    <th class="text-center bg-grey" width="1%">
                        <% @row_subs.each do |row_sub| %>
                            <% if !Erp::Products::Product.joins(:products_values)
                                .where("erp_products_products.cache_properties LIKE ?", "%[\"#{row.id}\",%")
                                .where("erp_products_products.cache_properties LIKE ?", "%[\"#{row_sub.id}\",%")
                                .empty?
                            %>
                                <%= row_sub.value %>
                            <% end %>
                        <% end %>
                    </th>
                <% end %>
                <% @columns.each do |column| %>
                    <% stock = Erp::Products::Product.get_stock(
                                    properties_value_ids: [column.id,row.id],
                                    categories: @global_filter[:categories],
                                    warehouses: @global_filter[:warehouses],
                                    states: @global_filter[:states],
                                    diameters: @global_filter[:diameters])
                    %>

                    <td class="text-center stock-num stock-num-<%= stock %>"
                        data-tooltip-url="<%= erp_ortho_k.tooltip_warehouse_info_backend_products_path(
                                                    properties_value_ids: [column.id,row.id],
                                                    categories: @global_filter[:categories],
                                                    warehouses: @global_filter[:warehouses],
                                                    states: @global_filter[:states],
                                                    diameters: @global_filter[:diameters]) %>"
                    >
                        <%= stock %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </table>
    <h3 class="mt-20"><%= t('.summary') %></h3>
    <div class="portlet m-grid m-grid-demo">
        <div class="m-grid-row">
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.total_stock') %></label><br/>
                <strong>
                    <%= Erp::Products::Product.get_stock(
                        categories: @global_filter[:categories],
                        warehouses: @global_filter[:warehouses],
                        states: @global_filter[:states],
                        diameters: @global_filter[:diameters])
                    %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label>Hết hàng</label><br/>
                <strong>
                <%
                    total = Erp::Products::Product.count_stock(
                        stock_operator: '<= 0',
                        categories: @global_filter[:categories],
                        warehouses: @global_filter[:warehouses],
                        states: @global_filter[:states],
                        diameters: @global_filter[:diameters])
                %>
                <%= total %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.equal_1') %></label><br/>
                <strong>
                    <%= Erp::Products::Product.count_stock(
                        stock_operator: '= 1',
                        categories: @global_filter[:categories],
                        warehouses: @global_filter[:warehouses],
                        states: @global_filter[:states],
                        diameters: @global_filter[:diameters])
                    %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.equal_2') %></label><br/>
                <strong>
                    <%= Erp::Products::Product.count_stock(
                        stock_operator: '= 2',
                        categories: @global_filter[:categories],
                        warehouses: @global_filter[:warehouses],
                        states: @global_filter[:states],
                        diameters: @global_filter[:diameters])
                    %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.equal_3') %></label><br/>
                <strong>
                    <%= Erp::Products::Product.count_stock(
                        stock_operator: '= 3',
                        categories: @global_filter[:categories],
                        warehouses: @global_filter[:warehouses],
                        states: @global_filter[:states],
                        diameters: @global_filter[:diameters])
                    %>
                </strong>
            </div>
            <div class="m-grid-col m-grid-col-middle m-grid-col-center">
                <label><%= t('.from_4') %></label><br/>
                <strong>
                    <%= Erp::Products::Product.count_stock(
                        stock_operator: '>= 4',
                        categories: @global_filter[:categories],
                        warehouses: @global_filter[:warehouses],
                        states: @global_filter[:states],
                        diameters: @global_filter[:diameters])
                    %>
                </strong>
            </div>
        </div>
    </div>
<% else %>
    <div class="alert alert-warning"><%=raw t('.please_select_column_and_row_filter') %></div>
<% end %>
