<% if false and (@categories.present? or @diameters.present?) %>

  <div class="alert alert-warning">
      <p>Vui lòng chọn các tham số bắt buộc:
          <br>- <strong>Loại hàng</strong>
          <br>- <strong>Đường kính</strong>
      </p>
  </div>

<% else %>

  <div class="custom-show text-center">
      <h4 class="font-yellow bold uppercase mb-15">
          Báo cáo tồn kho theo mã
      </h4>
  </div>

  <div class="text-right mb-10">
      <a target="_blank"
          href="<%= erp_ortho_k.purchasing_export_xlsx_backend_products_path(params.to_unsafe_hash.merge({format: 'xlsx', file_name: @file_name})) %>"
          target="_blank"
          class="btn btn-primary"
      >Xuất excel</a>
  </div>

  <table class="table table-bordered table-advance order-column">
      <tr>
        <td class="text-center bg-success text-bold"></td>
        <% @heads.each do |head| %>
          <td class="text-center bg-success text-bold"><%= @totals[head] %></td>
        <% end %>
        <td class="text-center bg-success text-bold"><%= @all_total %></td>
      </tr>

      <tr>
        <th class="text-left bg-primary" width="5%">Mã</th>
        <% @heads.each do |head| %>
          <th class="text-center bg-primary"><%= head %></th>
        <% end %>
        <th class="text-center bg-primary">Tổng cộng</th>
      </tr>

      <% @rows.each_with_index do |row, line_num| %>
        <% if @line_totals[line_num] != '--' %>
          <tr>
              <td class="text-left"><%= row[:code] %></td>
              <% @heads.each do |head| %>
                <td class="text-center"><%= row[head] %></th>
              <% end %>
              <td class="text-center"><%= @line_totals[line_num] %></th>
          </tr>
        <% end %>
      <% end %>
  </table>
<% end %>
