<% content_for :title do %>
    <%= t('.stock_importing') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> <%= t('.stock_importing') %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: 'Cấu hình phân vùng',
        href: erp_ortho_k.backend_setting_path
    }) %>
<% end %>

<% content_for :global_filter do %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'warehouses',
                value: '',
                text: '',
                label: t('.warehouse'),
                placeholder: t('.all_warehouses'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                multiple: true,
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'state',
                value: '',
                text: '',
                label: 'Trạng thái',
                placeholder: 'Tất cả trạng thái',
                url: erp_products.dataselect_backend_states_path(format: 'json')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'categories[]',
                value: '',
                text: '',
                label: t('.category'),
                placeholder: t('.choose_category'),
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <% diameter = Erp::Products::Property.where(name: "Đường kính").first %>
            <%= erp_form_control("dataselect", {
                name: 'diameters[]',
                value: '',
                text: '',
                label: Erp::Products::Property.where(name: "Đường kính").first().name,
                placeholder: diameter.name,
                url: erp_products.dataselect_backend_properties_values_path(format: 'json', property_id: diameter.id),
                include_blank: t('.all_diameters'),
                multiple: true
            }) %>
        </div>
        <!--<div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'area',
                value: '',
                text: '',
                label: t('.area'),
                placeholder: t('.all_areas'),
                url: erp_ortho_k.area_dataselect_backend_central_areas_path(format: 'json')
            }) %>
        </div>-->
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("text", {
                name: 'stock_condition',
                value: '0',
                text: '',
                label: 'Điều kiện tồn (<=)',
                placeholder: 'Điều kiện tồn'
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("text", {
                name: 'side_quantity',
                value: '1',
                text: '',
                label: 'Số lượng tối đa vùng rìa',
                placeholder: 'Số lượng tối đa vùng rìa'
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("text", {
                name: 'central_quantity',
                value: '2',
                text: '',
                label: 'Số lượng tối đa vùng TT',
                placeholder: 'Số lượng tối đa vùng TT'
            }) %>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-primary mt-25 global-filter-button">Kiểm kho</a> |
            <a class="btn btn-primary mt-25 custom-submit-button" data-form=".stock-importing-form" href="<%= erp_orders.new_type_backend_orders_path(type: Erp::Orders::Order::TYPE_PURCHASE_ORDER) %>">
                <i class="fa fa-share-square"></i> <%= t('.create_purchase_order') %>
            </a>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_ortho_k.stock_importing_table_backend_products_path,
    sortable: true,
    autoload: false,
    keywords: [
        {
            text: t('.name'), name: 'erp_products_products.name'
        },
    ],
    placeholder: 'Vui lòng điều kiện nhập hàng và nhấn Kiểm kho',
    #filters: [
    #    {
    #        text: t('.show_virtual'), name: 'show_virtual', value: true, checked: false
    #    },
    #    {
    #        divider: true
    #    },
    #    {
    #        text: t('.state_normal'), name: 'state_normal', value: true, checked: true
    #    },
    #    {
    #        text: t('.state_scratched'), name: 'state_scratched', value: true, checked: false
    #    },
    #    {
    #        text: t('.state_broken'), name: 'state_broken', value: true, checked: false
    #    },
    #],
    columns: [
    ]
) %>
