<table class="table table-bordered table-advance order-column" id="">
    <tr>
        <th class="bg-grey text-center" width="1%"><%= t('.number') %></th>
        <th class="bg-grey"><%= t('.code') %></th>
        <th class="bg-grey"><%= t('.diameter') %></th>
        <th class="bg-grey"><%= t('.category') %></th>
        <th class="bg-grey"><%= t('.area_type') %></th>
        <th class="bg-grey text-center"><%= t('.import_quantity') %></th>
    </tr>
    <% @products.each_with_index do |product,index| %>
        <%
            area_type = params[:global_filter][:area].present? ? params[:global_filter][:area] : ['area_side','area_central'].sample
            total_quantity = area_type == 'area_central' ? @central_quantity : @side_quantity;
        %>
        <tr>
            <td class="text-center"><%= index+1 %></td>
            <td class=""><%= product.code %></td>
            <td class=""><%= product.get_diameter %></td>
            <td class=""><%= product.category_name %></td>
            <td class=""><%= t('.' + area_type) %></td>
            <td class="bg-warning text-center"><strong><%= total_quantity %></strong></td>
        </tr>
    <% end %>
</table>
