<% content_for :title do %>
    <%= t('.stock_transfering') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> <%= t('.stock_transfering') %>
<% end %>

<% content_for :global_filter do %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'from_warehouse',
                value: '',
                text: '',
                label: t('.from_warehouse'),
                placeholder: t('.choose_from_warehouse'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                required: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'to_warehouse',
                value: '',
                text: '',
                label: t('.to_warehouse'),
                placeholder: t('.choose_to_warehouse'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                required: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'state',
                value: '',
                text: '',
                label: 'Tình trạng',
                placeholder: 'Tất cả tình trạng',
                url: erp_products.dataselect_backend_states_path(format: 'json'),
                required: true
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'categories',
                value: '',
                text: '',
                multiple: true,
                label: t('.category'),
                placeholder: t('.all_categories'),
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
            }) %>
        </div>
        <div class="col-md-3">
            <% diameter = Erp::Products::Property.where(name: "Đường kính").first %>
            <%= erp_form_control("dataselect", {
                name: 'diameters',
                value: '',
                text: '',
                label: Erp::Products::Property.where(name: "Đường kính").first().name,
                placeholder: diameter.name,
                url: erp_products.dataselect_backend_properties_values_path(format: 'json', property_id: diameter.id),
                include_blank: t('.all_diameters'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <% letter = Erp::Products::Property.where(name: "Chữ").first %>
            <%= erp_form_control("dataselect", {
                name: 'letters',
                value: '',
                text: '',
                label: 'Chữ',
                placeholder: letter.name,
                url: erp_products.dataselect_backend_properties_values_path(format: 'json', property_id: letter.id),
                include_blank: 'Tất cả chữ',
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <% number = Erp::Products::Property.where(name: "Số").first %>
            <%= erp_form_control("dataselect", {
                name: 'numbers',
                value: '',
                text: '',
                label: 'Số',
                placeholder: number.name,
                url: erp_products.dataselect_backend_properties_values_path(format: 'json', property_id: number.id),
                include_blank: 'Tất cả số',
                multiple: true
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 transfer-condition">
            <%= erp_form_control("select", {
                name: 'condition',
                value: '1',
                text: '',
                label: t('.condition'),
                placeholder: t('.choose_condition'),
                options: [
                    {text: 'Kho nhập thiếu hàng', value: 'to_required'},
                    {text: 'Kho xuất dư hàng', value: 'from_redundant'},
                ],
                required: true
            }) %>
        </div>
        <div class="col-md-3 transfer-condition-value">
            <%= erp_form_control("text", {
                name: 'condition_value',
                value: '1',
                text: '',
                label: t('.condition_value'),
                placeholder: t('.choose_condition_value'),
                required: true
            }) %>
        </div>
        <div class="col-md-3 transfer-quantity">
            <%= erp_form_control("text", {
                name: 'transfer_quantity',
                value: '1',
                text: '',
                label: t('.transfer_quantity'),
                placeholder: t('.choose_transfer_quantity'),
                required: true
            }) %>
        </div>
        <div class="col-md-3 text-right">
            <label class="invisible">.</label><br>
            <a class="btn btn-success global-filter-button">
                Tìm
            </a>
            |
            <a class="btn btn-primary custom-submit-button" data-form=".stock-transferring-form">
                Tạo phiếu
            </a>
            <a class="btn btn-primary custom-submit-button" data-action="<%= erp_products.stock_transfer_export_backend_products_path %>" data-form=".stock-transferring-form">
                <i class="fa fa-file-excel-o"></i> XUẤT
            </a>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_ortho_k.stock_transfering_table_backend_products_path,
    sortable: true,
    autoload: false,
    columns: [
    ],
    placeholder: 'Chọn điều kiện chuyển kho và nhấn <strong>TÌM</strong>. Quá trình xử lý có thể lên tới 5 đến 15 phút tùy điều kiện chuyển.'
) %>
