<% content_for :title do %>
    <%= t('.stock_importing') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> <%= t('.stock_importing') %>
<% end %>

<% content_for :global_filter do %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'category',
                value: '',
                text: '',
                label: t('.category'),
                placeholder: t('.choose_category'),
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
            }) %>
        </div>
        <div class="col-md-3">
            <% diameter = Erp::Products::Property.where(name: "Đường kính").first %>
            <%= erp_form_control("select", {
                name: 'diameter',
                value: '',
                text: '',
                label: Erp::Products::Property.where(name: "Đường kính").first().name,
                placeholder: diameter.name,
                options: (diameter.properties_values.map {|ppv| {value: ppv.id, text: ppv.value}}),
                include_blank: t('.all_diameters'),
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'warehouse',
                value: '',
                text: '',
                label: t('.warehouse'),
                placeholder: t('.all_warehouses'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("text", {
                name: 'import_quantity',
                value: '1',
                text: '',
                label: t('.import_quantity'),
                placeholder: t('.import_quantity')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("text", {
                name: 'center_quantity',
                value: '1',
                text: '',
                label: t('.center_quantity'),
                placeholder: t('.center_quantity')
            }) %>
        </div>
        <div class="col-md-6">
            <label class="invisible">.</label><br>
            <%= erp_component('button/primary', {
                text: t('.create_purchase_order')
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_ortho_k.stock_importing_table_backend_products_path,
    sortable: true,
    keywords: [
        {
            text: t('.name'), name: 'erp_products_products.name'
        },
    ],
    filters: [
        {
            text: t('.show_virtual'), name: 'show_virtual', value: true, checked: false
        },
        {
            divider: true
        },
        {
            text: t('.state_normal'), name: 'state_normal', value: true, checked: true
        },
        {
            text: t('.state_scratched'), name: 'state_scratched', value: true, checked: false
        },
        {
            text: t('.state_broken'), name: 'state_broken', value: true, checked: false
        },
        {
            divider: true
        },
        {
            text: t('.center_area'), name: 'center_area', value: true, checked: true
        },
        {
            text: t('.import_area'), name: 'import_area', value: true, checked: true
        },
    ],
    columns: [
    ],
    header: 'dddddd'
) %>
