<table class="table table-bordered table-advance order-column" id="">
    <% product_ids = @products_query.select('id') %>
    <% product_ids = -1 if product_ids.count == 0 %>
    <tr>
        <td class="text-right">Tổng cộng</td>
        <td class="text-center stock-num text-bold bg-warning">
            <%
                begin_params = @global_filters.clone
                begin_params[:to_date] = @global_filters[:from_date]
                begin_params[:from_date] = nil
                begin_params[:product_id] = product_ids
            %>
            <%= Erp::Products::Product.get_stock_real(begin_params) %>
        </td>
        <% total_import = 0 %>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_qdelivery_import(@global_filters.merge({
                    product_id: product_ids,
                    delivery_type: Erp::Qdeliveries::Delivery::TYPE_PURCHASE_IMPORT
                }))
                total_import += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_qdelivery_import(@global_filters.merge({
                    product_id: product_ids,
                    delivery_type: Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT
                }))
                total_import += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_transfer_import(@global_filters.merge({
                    product_id: product_ids,
                }))
                total_import += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_cs_return_import(@global_filters.merge({
                    product_id: product_ids,
                }))
                total_import += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_stock_check_import(@global_filters.merge({
                    product_id: product_ids,
                }))
                count += Erp::Products::Product.get_state_check_import(@global_filters.merge({
                    product_id: product_ids,
                }))
                total_import += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_qdelivery_import(@global_filters.merge({
                    product_id: product_ids,
                    delivery_type: Erp::Qdeliveries::Delivery::TYPE_CUSTOM_IMPORT
                }))
                total_import += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num text-bold text-warning">
            <%= total_import %>
        </td>
        <% total_export = 0 %>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_qdelivery_export(@global_filters.merge({
                    product_id: product_ids,
                    delivery_type: Erp::Qdeliveries::Delivery::TYPE_SALES_EXPORT
                }))
                total_export += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_qdelivery_export(@global_filters.merge({
                    product_id: product_ids,
                    delivery_type: Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT
                }))
                total_export += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_consignment_export(@global_filters.merge({
                    product_id: product_ids,
                }))
                total_export += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_transfer_export(@global_filters.merge({
                    product_id: product_ids,
                }))
                total_export += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_gift_given_export(@global_filters.merge({
                    product_id: product_ids,
                }))
                total_export += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_damage_record_export(@global_filters.merge({
                    product_id: product_ids,
                }))
                total_export += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_stock_check_export(@global_filters.merge({
                    product_id: product_ids,
                }))
                count += Erp::Products::Product.get_state_check_export(@global_filters.merge({
                    product_id: product_ids,
                }))
                total_export += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num">
            <%
                count = Erp::Products::Product.get_qdelivery_export(@global_filters.merge({
                    product_id: product_ids,
                    delivery_type: Erp::Qdeliveries::Delivery::TYPE_CUSTOM_EXPORT
                }))
                total_export += count
            %>
            <%= count %>
        </td>
        <td class="text-center stock-num text-bold text-primary">
            <%= total_export %>
        </td>



        <td class="text-center stock-num text-bold bg-info">
            <%
                end_params = @global_filters.clone
                end_params[:from_date] = nil
                end_params[:product_id] = product_ids
            %>
            <%= Erp::Products::Product.get_stock_real(end_params) %>
        </td>
    </tr>
    <tr>
        <th class="bg-primary text-center" rowspan="2" width="20%">Tên</th>
        <th class="bg-primary text-center" rowspan="2" width="7%">Đầu kỳ</th>
        <th class="bg-primary text-center" colspan="7">Nhập kho</th>
        <th class="bg-primary text-center text-center" colspan="9">Xuất kho</th>
        <th class="bg-primary text-center" rowspan="2">Cuối kỳ</th>
    </tr>
    <tr>
        <th class="bg-primary text-center" width="7%" title="Nhập kho">NK</th>
        <th class="bg-primary text-center" width="7%" title="Hoàn kho (Khách hàng)">HK</th>
        <th class="bg-primary text-center" width="7%" title="Chuyển kho">CK</th>
        <th class="bg-primary text-center" width="7%" title="Trả hàng ký gởi/Cho mượn">TKG</th>
        <th class="bg-primary text-center" width="7%" title="Kiểm kho">KK</th>
        <th class="bg-primary text-center" width="7%" title="Kiểm kho">Khác</th>
        <th class="bg-primary text-center" width="7%" title="Tổng cộng">Tổng</th>
        <th class="bg-primary text-center" width="7%" title="Xuất kho bán">XK</th>
        <th class="bg-primary text-center" width="7%" title="Trả nhà CC">TNCC</th>
        <th class="bg-primary text-center" width="7%" title="Ký gởi/Cho mượn">KG</th>
        <th class="bg-primary text-center" width="7%" title="Chuyển kho">CK</th>
        <th class="bg-primary text-center" width="7%" title="Tặng quà">TQ</th>
        <th class="bg-primary text-center" width="7%" title="Hủy kho">HuyK</th>
        <th class="bg-primary text-center" width="7%" title="Kiểm kho">KK</th>
        <th class="bg-primary text-center" width="7%" title="">Khác</th>
        <th class="bg-primary text-center" width="7%">Tổng</th>
    </tr>
    <% @products.each_with_index do |product,index| %>
        <tr>
            <td class="text-left"><%= product.name %></td>
            <td class="text-center stock-num text-bold bg-warning">
                <%
                    begin_params = @global_filters.clone
                    begin_params[:to_date] = @global_filters[:from_date]
                    begin_params[:from_date] = nil
                %>
                <%= product.get_stock(begin_params) %>
            </td>

            <% total_import = 0 %>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_qdelivery_import(@global_filters.merge({
                        product_id: product.id,
                        delivery_type: Erp::Qdeliveries::Delivery::TYPE_PURCHASE_IMPORT
                    }))
                    total_import += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_qdelivery_import(@global_filters.merge({
                        product_id: product.id,
                        delivery_type: Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT
                    }))
                    total_import += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_cs_return_import(@global_filters.merge({
                        product_id: product.id,
                    }))
                    total_import += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_transfer_import(@global_filters.merge({
                        product_id: product.id,
                    }))
                    total_import += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_stock_check_import(@global_filters.merge({
                        product_id: product.id,
                    }))
                    count += Erp::Products::Product.get_state_check_import(@global_filters.merge({
                        product_id: product.id,
                    }))
                    total_import += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_qdelivery_import(@global_filters.merge({
                        product_id: product.id,
                        delivery_type: Erp::Qdeliveries::Delivery::TYPE_CUSTOM_IMPORT
                    }))
                    total_import += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num text-bold text-warning">
                <%= total_import %>
            </td>



            <% total_export = 0 %>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_qdelivery_export(@global_filters.merge({
                        product_id: product.id,
                        delivery_type: Erp::Qdeliveries::Delivery::TYPE_SALES_EXPORT
                    }))
                    total_export += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_qdelivery_export(@global_filters.merge({
                        product_id: product.id,
                        delivery_type: Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT
                    }))
                    total_export += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_consignment_export(@global_filters.merge({
                        product_id: product.id,
                    }))
                    total_export += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_transfer_export(@global_filters.merge({
                        product_id: product.id,
                    }))
                    total_export += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_gift_given_export(@global_filters.merge({
                        product_id: product.id,
                    }))
                    total_export += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_damage_record_export(@global_filters.merge({
                        product_id: product.id,
                    }))
                    total_export += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_stock_check_export(@global_filters.merge({
                        product_id: product.id,
                    }))
                    count += Erp::Products::Product.get_state_check_export(@global_filters.merge({
                        product_id: product.id,
                    }))
                    total_export += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num">
                <%
                    count = Erp::Products::Product.get_qdelivery_import(@global_filters.merge({
                        product_id: product.id,
                        delivery_type: Erp::Qdeliveries::Delivery::TYPE_CUSTOM_EXPORT
                    }))
                    total_import += count
                %>
                <%= count %>
            </td>
            <td class="text-center stock-num text-bold text-primary">
                <%= total_export %>
            </td>


            <td class="text-center stock-num text-bold bg-info">
                <%
                    end_params = @global_filters.clone
                    end_params[:from_date] = nil
                %>
                <%= product.get_stock(end_params) %>
            </td>
        </tr>
    <% end %>
</table>
<%= erp_datalist_pagination(@products) %>
