<% rows.each_with_index do |row,index| %>
    <tr>
        <% if get_columns(params).include?("record_date") %>
        <td class="text-left text-nowrap"><%= format_date(row[:record_date]) %></td>
        <% end %>
        <% if get_columns(params).include?("voucher_date") %>
        <td class="text-left text-nowrap"><%= format_date(row[:voucher_date]) %></td>
        <% end %>
        <% if get_columns(params).include?("voucher_code") %>
        <td class="text-left text-nowrap"><%= row[:voucher_code] %></td>
        <% end %>
        <% if get_columns(params).include?("related_order") %>
        <td class="text-<%= row[:related_order].present? ? 'left' : 'center' %> text-nowrap">
            <%= row[:related_order].present? ? order_link(row[:related_order]) : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("supplier_code") %>
        <td class="text-<%= row[:supplier_code].present? ? 'left' : 'center' %> text-nowrap">
            <%= row[:supplier_code].present? ? row[:supplier_code] : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("supplier_name") %>
        <td class="text-<%= row[:supplier_name].present? ? 'left' : 'center' %> text-nowrap">
            <%= row[:supplier_name].present? ? row[:supplier_name] : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("customer_code") %>
        <td class="text-<%= row[:customer_code].present? ? 'left' : 'center' %> text-nowrap">
            <%= row[:customer_code].present? ? row[:customer_code] : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("customer_name") %>
        <td class="text-<%= row[:customer_name].present? ? 'left' : 'center' %> text-nowrap">
            <%= row[:customer_name].present? ? row[:customer_name] : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("code") %>
        <td class="text-left text-nowrap"><%= row[:product_code] %></td>
        <% end %>
        <% if get_columns(params).include?("diameter") %>
        <td class="text-left text-nowrap"><%= row[:diameter] %></td>
        <% end %>
        <% if get_columns(params).include?("category") %>
        <td class="text-left text-nowrap"><%= row[:category] %></td>
        <% end %>
        <% if get_columns(params).include?("product_name") %>
        <td class="text-left text-nowrap"><%= row[:product_name] %></td>
        <% end %>
        <% if get_columns(params).include?("description") %>
        <td class="text-left text-nowrap"><%= t(".#{row[:record_type]}") %></td>
        <% end %>
        <% if get_columns(params).include?("status") %>
        <td class="text-left text-nowrap"><%= row[:state] %></td>
        <% end %>
        <% if get_columns(params).include?("warehouse") %>
        <td class="text-left text-nowrap"><%= row[:warehouse] %></td>
        <% end %>
        <% if get_columns(params).include?("unit") %>
        <td class="text-left text-nowrap"><%= row[:unit] %></td>
        <% end %>
        <% if get_columns(params).include?("quantity") %>
        <td class="text-center bg-info"><%= row[:quantity] %></td>
        <% end %>
        <% if get_columns(params).include?("p_price") %>
        <td class="text-<%= row[:pay_price].present? ? 'right' : 'center' %> text-nowrap font-primary">
            <%= row[:pay_price].present? ? format_number(row[:pay_price]) : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("p_amount") %>
        <td class="text-<%= row[:pay_subtotal].present? ? 'right' : 'center' %> text-nowrap font-primary">
            <%= row[:pay_subtotal].present? ? format_number(row[:pay_subtotal]) : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("p_discount") %>
        <td class="text-<%= row[:pay_discount].present? ? 'right' : 'center' %> text-nowrap font-primary">
            <%= row[:pay_discount].present? ? format_number(row[:pay_discount]) : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("p_tax_amount") %>
        <td class="text-<%= row[:pay_tax_amount].present? ? 'right' : 'center' %> text-nowrap font-primary">
            <%= row[:pay_tax_amount].present? ? format_number(row[:pay_tax_amount]) : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("p_total") %>
        <td class="text-<%= row[:pay_total_amount].present? ? 'right' : 'center' %> text-nowrap font-primary">
            <%= row[:pay_total_amount].present? ? format_number(row[:pay_total_amount]) : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("s_price") %>
        <td class="text-<%= row[:receive_price].present? ? 'right' : 'center' %> text-nowrap font-primary">
            <%= row[:receive_price].present? ? format_number(row[:receive_price]) : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("s_amount") %>
        <td class="text-<%= row[:receive_subtotal].present? ? 'right' : 'center' %> text-nowrap font-primary">
            <%= row[:receive_subtotal].present? ? format_number(row[:receive_subtotal]) : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("s_discount") %>
        <td class="text-<%= row[:receive_discount].present? ? 'right' : 'center' %> text-nowrap font-primary">
            <%= row[:receive_discount].present? ? format_number(row[:receive_discount]) : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("s_tax_amount") %>
        <td class="text-<%= row[:receive_tax_amount].present? ? 'right' : 'center' %> text-nowrap font-primary">
            <%= row[:receive_tax_amount].present? ? format_number(row[:receive_tax_amount]) : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("s_total") %>
        <td class="text-<%= row[:receive_total_amount].present? ? 'right' : 'center' %> text-nowrap font-primary">
            <%= row[:receive_total_amount].present? ? format_number(row[:receive_total_amount]) : '--' %>
        </td>
        <% end %>
        <% if get_columns(params).include?("note") %>
        <td class="text-left text-nowrap"><%= row[:description] %></td>
        <% end %>
    </tr>
<% end %>