<!-- Slider background -->
<%= render "erp/ortho_k/frontend/modules/slider" %>

<!-- Header -->
<%= render "erp/ortho_k/frontend/modules/header" %>

<!-- Main content -->
<%= render "erp/ortho_k/frontend/modules/main_content" %>

<!-- Popup -->
<div class="popup_wrapper">
	<!-- Popup location -->
	<%= render "erp/ortho_k/frontend/modules/popup_location" %>
</div>

<!-- Social media links -->
<%= render "erp/ortho_k/frontend/modules/social_media" %>

<%= render "erp/ortho_k/frontend/modules/js_include" %>