<%
    from = transfer_detail.product.get_stock_by_warehouse(Erp::Warehouses::Warehouse.first)
    to = transfer_detail.product.get_stock_by_warehouse(Erp::Warehouses::Warehouse.last)
%>

<input type="hidden" name="transfer[transfer_details_attributes][<%= uid %>][id]" value="<%= transfer_detail.id %>">
<input type="hidden" name="transfer[transfer_details_attributes][<%= uid %>][product_id]" value="<%= transfer_detail.product_id %>" class="product-id">
<input type="hidden" name="transfer[transfer_details_attributes][<%= uid %>][_destroy]" value="">
<td><%= transfer_detail.product_code %></td>
<td><%= transfer_detail.product.get_diameter %></td>
<td><%= transfer_detail.product.category_name %></td>
<td width='10%'>
    <%= erp_form_control("number", {
        name: 'transfer[transfer_details_attributes][' + uid + '][quantity]',
        value: transfer_detail.quantity,
        text: transfer_detail.quantity,
        class: "line_quantity inline"
    }) %>
</td>

<td width='20%'>
    <%= erp_form_control("dataselect", {
        name: 'transfer[transfer_details_attributes][' + uid + '][state_id]',
        value: transfer_detail.state_id,
        text: transfer_detail.state_name,
        placeholder: t('.choose_state'),
        url: erp_products.dataselect_backend_states_path(format: 'json'),
        required: true,
        errors: transfer_detail.errors.full_messages_for(:state_id)
    }) %>
</td>
<td class="text-right">
    <%= erp_form_control("addableform_remove_button", {
        is_nested_form: true
    }) %>
</td>
