<li class="nav-item <%= "active open" if (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "matrix_report") ||
                                         (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "delivery_report") ||
                                         (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "import_export_report") %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <span class="title">Kho</span>
        <% if (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "matrix_report") ||
              (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "delivery_report") ||
              (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "import_export_report") %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu" <% if (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "matrix_report") ||
                               (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "delivery_report") ||
                               (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "import_export_report") %>
                            style="display: block;"
                        <% else %>style="display: none;"<% end %>>
        <li class="nav-item <%= "active" if params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "matrix_report" %>">
            <%= link_to t('.inventory_report'), erp_ortho_k.matrix_report_backend_products_path, class: "nav-link ", title: t('.inventory_report') %>
        </li>
        <li class="nav-item <%= "active" if params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "delivery_report" %>">
            <%= link_to t('.delivery_report'), erp_ortho_k.delivery_report_backend_products_path, class: "nav-link ", title: t('.delivery_report') %>
        </li>
        <li class="nav-item <%= "active" if params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "import_export_report" %>">
            <%= link_to t('.import_export_report'), erp_ortho_k.import_export_report_backend_products_path, class: "nav-link ", title: t('.import_export_report') %>
        </li>
        <li class="nav-item <%= "active" if params[:controller] == "" && params[:action] == "" %>">
            <%= link_to "Thống kê tồn kho", '', class: "nav-link ", title: 'Thống kê tồn kho theo loại len + đường kính' %>
        </li>
        <li class="nav-item <%= "active" if params[:controller] == "" && params[:action] == "" %>">
            <%= link_to "Thống kê theo kho", '', class: "nav-link ", title: 'Thống kê theo kho' %>
        </li>
        <li class="nav-item <%= "active" if params[:controller] == "" && params[:action] == "" %>">
            <%= link_to "Len ngoài vùng", '', class: "nav-link ", title: 'Thống kê len ngoài vùng' %>
        </li>
    </ul>
</li>
