<li class="nav-item <%= "active open" if (params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_sell_and_return") ||
                                         (params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_sales_details") ||
                                         (params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_product_sold") ||
                                         (params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_product_return") ||
                                         (params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_product_return_by_pstate") ||
                                         (params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_new_patient") ||
                                         (params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_new_patient_v2") %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <span class="title">Bán hàng</span>
        <% if false %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <% if can? :menu_report_sales_sell_and_return, nil %>
            <li class="nav-item <%= "active" if params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_sell_and_return" %>">
                <%= link_to "Báo cáo bán/trả hàng", erp_ortho_k.report_sell_and_return_backend_sales_path, class: "nav-link ", title: 'Báo cáo bán hàng, trả hàng (theo ngày, tuần, quý, năm,...)' %>
            </li>
        <% end %>
        <% if can? :menu_report_sales_sales_details, nil %>
            <li class="nav-item <%= "active" if params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_sales_details" %>">
                <%= link_to "Sổ chi tiết bán hàng", erp_ortho_k.report_sales_details_backend_sales_path, class: "nav-link ", title: 'Sổ chi tiết bán hàng (theo ngày, tuần, quý, năm,...)' %>
            </li>
        <% end %>
        <% if can? :menu_report_sales_product_sold, nil %>
             <li class="nav-item <%= "active" if params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_product_sold" %>">
                <%= link_to "Thống kê SL hàng bán", erp_ortho_k.report_product_sold_backend_sales_path, class: "nav-link ", title: 'Báo cáo số lượng hàng bán (theo ngày, tuần, quý, năm,...)' %>
            </li>
        <% end %>
        <% if can? :menu_report_sales_product_return_by_state, nil %>
            <li class="nav-item <%= "active" if params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_product_return" %>">
                <%= link_to "Thống kê SL hàng trả", erp_ortho_k.report_product_return_backend_sales_path, class: "nav-link ", title: 'Báo cáo khách hàng trả hàng (theo ngày, tuần, quý, năm,...)' %>
            </li>
        <% end %>
        <% if can? :menu_report_sales_product_return_by_patient_state, nil %>
            <li class="nav-item <%= "active" if params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_product_return_by_pstate" %>">
                <%= link_to "Thống kê SL hàng trả (2)", erp_ortho_k.report_product_return_by_pstate_backend_sales_path, class: "nav-link ", title: 'Báo cáo khách hàng trả hàng (Len theo tình trạng bệnh nhân, chuyên mục khác,..)' %>
            </li>
        <% end %>
        <% if can? :menu_report_sales_new_patient, nil %>
            <li class="nav-item <%= "active" if params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_new_patient" %>">
                <%= link_to "BN/PK mới", erp_ortho_k.report_new_patient_backend_sales_path, class: "nav-link ", title: 'Danh sách và số lượng bệnh nhân (tất cả khách hàng và phòng khám)' %>
            </li>
        <% end %>
        <% if can? :menu_report_sales_new_patient_v2, nil %>
            <li class="nav-item <%= "active" if params[:controller] == "erp/ortho_k/backend/sales" && params[:action] == "report_new_patient_v2" %>">
                <%= link_to "SL BN mới (khách hàng)", erp_ortho_k.report_new_patient_v2_backend_sales_path, class: "nav-link ", title: 'Danh sách và số lượng bệnh nhân (theo khách hàng)' %>
            </li>
        <% end %>
    </ul>
</li>
