<% if @categories.empty? %>
  <div class="alert alert-warning">
      <p>Vui lòng chọn các tham số bắt buộc:
          <br>- <strong>Loại hàng</strong>
      </p>
  </div>
<% else %>
  <h4 class="mb-10">
    Báo cáo tồn kho
    <% if @period.present? %>
      <strong><%= @period.name %></strong>
    <% end %>
    từ <strong><%= format_date(@from_date) %></strong>
    đến <strong><%= format_date(@to_date) %></strong>
  </h4>
  <table class="table table-bordered table-advance order-column">
    <% product_ids = @product_query.select('id') %>
    <% product_ids = nil if product_ids.count == 0 %>
    <% filters = @global_filters.clone.merge({product_id: product_ids}) %>
    <tr>
      <th colspan="2" class="text-right bg-grey">Tổng cộng</th>

      <td class="text-center bg-info text-bold">
        <%
            begin_params = filters.clone
            begin_params[:to_date] = filters[:from_date]
            begin_params[:from_date] = nil
        %>
        <%= Erp::Products::Product.get_stock_real(begin_params) %>
      </td>

      <td class="text-center bg-grey text-bold">
        <%
          count = Erp::Products::Product.get_qdelivery_import(filters.clone.merge({
              delivery_type: Erp::Qdeliveries::Delivery::TYPE_WAREHOUSE_IMPORT
          }))
        %>
        <%= count %>
      </td>
      <% Erp::Products::State.all.each do |state| %>
        <td class="text-center bg-grey text-bold">
          <%
            count = Erp::Products::Product.get_qdelivery_import(filters.clone.merge({
                delivery_type: [
                  Erp::Qdeliveries::Delivery::TYPE_CUSTOM_IMPORT,
                  Erp::Qdeliveries::Delivery::TYPE_CUSTOMER_IMPORT
                ],
                state: state
            }))
          %>
          <%= count %>
        </td>
      <% end %>
      <td class="text-center bg-grey text-bold">
        <%
          count = Erp::Products::Product.get_qdelivery_export(filters.clone.merge({
              delivery_type: [
                Erp::Qdeliveries::Delivery::TYPE_CUSTOM_EXPORT,
                Erp::Qdeliveries::Delivery::TYPE_WAREHOUSE_EXPORT
              ]
          }))
          count += Erp::Products::Product.get_gift_given_export(filters)
        %>
        <%= count %>
      </td>
      <td class="text-center bg-grey text-bold">
        <%
            count = Erp::Products::Product.get_damage_record_export(filters)
            count += Erp::Products::Product.get_stock_check_export(filters)
        %>
        <%= count %>
      </td>
      <td class="text-center bg-info text-bold">
        <%
            end_params = filters.clone
            end_params[:from_date] = nil
        %>
        <%= Erp::Products::Product.get_stock_real(end_params) %>
      </td>
    </tr>

    <tr>
      <th rowspan="2" class="text-center bg-primary">Sản phẩm</th>
      <th rowspan="2" class="text-center bg-primary">Đơn vị</th>
      <th rowspan="2" class="text-center bg-primary">Dư đầu</th>
      <th rowspan="2" class="text-center bg-primary" title="Nhập NCC">Nhập NCC</th>
      <th colspan="<%= Erp::Products::State.count %>" class="text-center bg-primary" title="Khách trả; Ký gửi trả">Hoàn kho</th>
      <th rowspan="2" class="text-center bg-primary" title="Xuất bán; Cho mượn/Ký gửi; Tặng quà">Xuất</th>
      <th rowspan="2" class="text-center bg-primary" title="Hủy kho; Kiểm kho">Hư/Mất</th>
      <th rowspan="2" class="text-center bg-primary">Dư cuối</th>
    </tr>
    <tr>
      <% Erp::Products::State.all.each do |state| %>
        <th class="text-center bg-primary text-nowrap" width="5%"><%= state.name %></th>
      <% end %>
    </tr>

    <% @products.each do |product| %>
      <% filters = @global_filters.clone.merge(product_id: product.id) %>
      <tr>
        <td class="text-semibold"><%= product.name %></td>
        <td class="text-center"><%= product.unit_name %></td>

        <td class="text-center text-bold">
          <%
              begin_params = filters.clone
              begin_params[:to_date] = filters[:from_date]
              begin_params[:from_date] = nil
          %>
          <%= Erp::Products::Product.get_stock_real(begin_params) %>
        </td>
        <td class="text-center">
          <%
            count = Erp::Products::Product.get_qdelivery_import(filters.clone.merge({
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_WAREHOUSE_IMPORT
            }))
          %>
          <%= count %>
        </td>
        <% Erp::Products::State.all.each do |state| %>
          <td class="text-center">
            <%
              count = Erp::Products::Product.get_qdelivery_import(filters.clone.merge({
                  delivery_type: [
                    Erp::Qdeliveries::Delivery::TYPE_CUSTOM_IMPORT,
                    Erp::Qdeliveries::Delivery::TYPE_CUSTOMER_IMPORT
                  ],
                  state: state
              }))
            %>
            <%= count %>
          </td>
        <% end %>
        <td class="text-center">
          <%
            count = Erp::Products::Product.get_qdelivery_export(filters.clone.merge({
                delivery_type: [
                  Erp::Qdeliveries::Delivery::TYPE_CUSTOM_EXPORT,
                  Erp::Qdeliveries::Delivery::TYPE_WAREHOUSE_EXPORT
                ]
            }))
            count += Erp::Products::Product.get_gift_given_export(filters)
          %>
          <%= count %>
        </td>
        <td class="text-center">
          <%
              count = Erp::Products::Product.get_damage_record_export(filters)
              count += Erp::Products::Product.get_stock_check_export(filters)
          %>
          <%= count %>
        </td>
        <td class="text-center text-bold">
          <%
              end_params = filters.clone
              end_params[:from_date] = nil
          %>
          <%= Erp::Products::Product.get_stock_real(end_params) %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= erp_datalist_pagination(@products) %>
<% end %>

