<% content_for :title do %>
    Nhu cầu mua (ma trận)
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> Nhu cầu mua (ma trận)
<% end %>

<% content_for :global_filter do %>
    <% dfilters = current_user.get_filters(request.path+"_table").present? ? current_user.get_filters(request.path+"_table") : {}  %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: 'Từ ngày',
                name: 'from_date',
                value: (
                    (dfilters["from_date"].present? and !@from_date.present?) ?
                    dfilters["from_date"].to_date
                    : @from_date
                ),
                placeholder: 'Chọn ngày đầu kỳ'
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: 'Đến ngày',
                name: 'to_date',
                value: (
                    (dfilters["to_date"].present? and !@to_date.present?) ?
                    dfilters["to_date"].to_date
                    : @to_date
                ),
                placeholder: 'Chọn ngày cuối kỳ'
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('dataselect', {
                label: 'Mốc thời gian',
                name: 'period',
                value: (
                    (dfilters["period"].present? and !@period.present?) ?
                    Erp::Periods::Period.find(dfilters["period"]).id
                    : (@period.present? ? @period.id : '')
                ),
                text: (
                    (dfilters["period"].present? and !@period.present?) ?
                    Erp::Periods::Period.find(dfilters["period"]).name
                    : (@period.present? ? @period.name : '')
                ),
                placeholder: 'Chọn khoảng thời gian',
                url: erp_periods.dataselect_backend_periods_path(format: 'json'),
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'categories',
                values: (
                    dfilters["categories"].present? ?
                    (Erp::Products::Category.where(id: dfilters["categories"]).map{|i| {text: i.name, value: i.id}})
                    : nil
                ),
                label: 'Loại hàng',
                placeholder: 'Tất cả loại',
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <% diameter = Erp::Products::Property.where(name: "Đường kính").first %>
            <%= erp_form_control("dataselect", {
                name: 'diameters',
                values: (
                    dfilters["diameters"].present? ?
                    (Erp::Products::PropertiesValue.where(id: dfilters["diameters"]).map{|i| {text: i.value, value: i.id}})
                    : nil
                ),
                label: 'Đường kính',
                placeholder: diameter.name,
                url: erp_products.dataselect_backend_properties_values_path(format: 'json', property_id: diameter.id),
                include_blank: 'Tất cả đường kính',
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'warehouses',
                values: (
                    dfilters["warehouses"].present? ?
                    (Erp::Warehouses::Warehouse.where(id: dfilters["warehouses"]).map{|i| {text: i.name, value: i.id}})
                    : nil
                ),
                label: 'Kho',
                placeholder: 'Tất cả kho',
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-2">
            <a href="#" class="btn btn-primary global-filter-button mt-25">Kiểm kho</a>
        </div>
    </div>
<% end %>

<div class="datalist-matrix">
    <%= erp_datalist(
        url: erp_ortho_k.report_product_request_table_backend_inventory_index_path,
        sortable: true,
        keywords: false,
        autoload: false,
        filters: [
        ],
        columns: [
        ],
        placeholder: 'Vui lòng chọn vùng cần xem và nhấn Kiểm kho'
    ) %>
</div>
