<% content_for :title do %>
    Thống kê theo kho
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> Thống kê theo kho
<% end %>

<% content_for :global_filter do %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: 'Từ ngày',
                name: 'from_date',
                value: @from_date,
                placeholder: 'Chọn ngày đầu kỳ'
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: 'Đến ngày',
                name: 'to_date',
                value: @to_date,
                placeholder: 'Chọn ngày cuối kỳ'
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('dataselect', {
                label: 'Mốc thời gian',
                name: 'period',
                value: (@period.present? ? @period.id : ''),
                text: (@period.present? ? @period.name : ''),
                placeholder: 'Chọn khoảng thời gian',
                url: erp_periods.dataselect_backend_periods_path(format: 'json'),
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'warehouse_ids',
                value: '',
                text: '',
                label: 'Kho',
                placeholder: 'Chọn kho',
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'categories',
                value: '',
                text: '',
                label: 'Loại hàng',
                placeholder: 'Chọn loại hàng',
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
                multiple: true
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_ortho_k.report_warehouse_table_backend_inventory_index_path,
    sortable: true,
    #filters: [
    #    {
    #        text: t('.show_virtual'), name: 'show_virtual', value: true, checked: false
    #    },
    #],
    columns: [
    ],
) %>
