<div class="col-md-12">
    <div class="tabbable-custom ">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#tab_5_1" data-toggle="tab">
                    <i class="fa fa-navicon"></i>
                    Chi tiết đã xuất
                </a>
            </li>
            <% if @consignment.cs_returns.count > 0 %>
            <li>
                <a href="#tab_5_2" data-toggle="tab">
                    <i class="fa fa-navicon"></i>
                    Chi tiết đã trả
                </a>
            </li>
            <% end %>
        </ul>
        <div class="tab-content tab-consignment-details">
            <div class="tab-pane active" id="tab_5_1">
                <div class="portlet grey-cascade box">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th width="20%"  class="bg-green-jungle bg-font-green-jungle text-center">Mã</th>
                                        <th class="bg-green-jungle bg-font-green-jungle text-nowrap">Đường kính</th>
                                        <th class="bg-green-jungle bg-font-green-jungle text-nowrap">Loại</th>
                                        <th class="bg-green-jungle bg-font-green-jungle numeric text-center"><%= t('.quantity') %></th>
                                        <th class="bg-green-jungle bg-font-green-jungle numeric text-center">Đã trả</th>
                                        <th class="bg-green-jungle bg-font-green-jungle numeric text-center">Còn lại</th>
                                        <th class="bg-green-jungle bg-font-green-jungle text-right">Đơn vị tính</th>
                                        <th class="bg-green-jungle bg-font-green-jungle text-right">Trạng thái sản phẩm</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="3" class="bg-red-intense bg-font-red-intense text-nowrap text-center sbold">TỔNG CỘNG</td>
                                        <td class="bg-red-intense bg-font-red-intense numeric text-center sbold"><%= @consignment.total_quantity %></td>
                                        <td class="bg-red-intense bg-font-red-intense numeric text-center sbold"><%= @consignment.total_returned_quantity %></td>
                                        <td class="bg-red-intense bg-font-red-intense numeric text-center sbold"><%= @consignment.total_remain_quantity %></td>
                                        <td class="bg-red-intense bg-font-red-intense numeric text-center"></td>
                                        <td class="bg-red-intense bg-font-red-intense numeric text-center"></td>
                                    </tr>
                                    <% @consignment.consignment_details.each do |consignment_detail| %>
                                    <tr>
                                        <td class="text-center">
                                            <strong><%= link_to consignment_detail.get_product_code, erp_products.edit_backend_product_path(consignment_detail.product), target: '_blank', title: consignment_detail.get_product_code, class: "font-yellow-gold sbold" %></strong>
                                        </td>
                                        <td class="text-left"><%= consignment_detail.product.get_diameter %></td>
                                        <td class="text-left"><%= consignment_detail.product.category_name %></td>
                                        <td class="numeric text-center"><strong><%= consignment_detail.quantity %></strong></td>
                                        <td class="numeric text-center"><strong><%= consignment_detail.returned_quantity %></strong></td>
                                        <td class="numeric text-center"><strong><%= consignment_detail.remain_quantity %></strong></td>
                                        <td class="text-right"><%= consignment_detail.get_product_unit %></td>
                                        <td class="text-right"><%=  %></td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <% if @consignment.cs_returns.count > 0 %>
            <div class="tab-pane" id="tab_5_2">
                <div class="portlet grey-cascade box">
                    <div class="portlet-body">
                        <% @consignment.cs_returns.each do |cs_return| %>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th width="15%" class="bg-green-jungle bg-font-green-jungle text-center"><%= t('.return_code') %></th>
                                        <th class="bg-green-jungle bg-font-green-jungle text-nowrap"><%= t('.contact_return') %></th>
                                        <th class="bg-green-jungle bg-font-green-jungle text-nowrap"><%= t('.date_return') %></th>
                                        <th class="bg-green-jungle bg-font-green-jungle text-center"><%= t('.quantity') %></th>
                                        <th width="30%" class="bg-green-jungle bg-font-green-jungle text-left"><%= t('.note') %></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  class="odd gradeX has-child-table" data-url="<%= erp_consignments.return_details_backend_cs_returns_path(id: cs_return.id) %>">
                                        <td width="15%" class="text-center">
                                            <i class="fa fa-plus expand tr-expand-button child-tr-expand-button"></i>
                                            <strong><%= link_to '#' + cs_return.code, "", target: '_blank', title: cs_return.code, class: "font-red-thunderbird sbold" %></strong>
                                        </td>
                                        <td class="text-left"><%= cs_return.contact_name %></td>
                                        <td class="text-left"><%= cs_return.return_date.strftime("%d/%m/%Y") %></td>
                                        <td class="text-cetner"><strong><%= cs_return.total_quantity %></strong></td>
                                        <td class="text-left"><%= cs_return.note.html_safe if cs_return.note.present? %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>