<% content_for :title do %>
    <%= t('.create') %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_ortho_k.backend_property_values_path %>">
    <i class="fa fa-flask"></i> <%= t('.property_values') %>
    </a> / <%= t('.create') %>
<% end %>

<% content_for :page_toolbar do %>
    <div class="btn-group">
        <div class="clearfix">
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-6">
        <% if @property_value.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <%= render 'form', property_value: @property_value %>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>