<div class="portlet-body">
    <div class="table-responsive">
        <table class="table table-bordered table-striped flip-content">
            <thead class="flip-content">
                <tr>
                    <th class="bg-yellow bg-font-yellow text-nowrap text-center"><%= t('.product_name') %></th>
                    <th width="15%" class="bg-yellow bg-font-yellow text-nowrap text-center"><%= t('.unit') %></th>
                    <th width="15%" class="bg-yellow bg-font-yellow text-nowrap text-center"><%= t('.state') %></th>
                    <th width="15%" class="bg-yellow bg-font-yellow text-nowrap text-center"><%= t('.warehouse') %></th>
                    <th width="15%" class="bg-yellow bg-font-yellow text-nowrap text-center"><%= t('.quantity') %></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-green" colspan="4"><strong> TỔNG CỘNG </strong></td>
                    <td class="bg-green text-center"><strong><%= @given.cache_products_count %></strong></td>
                </tr>
                <% @given.given_details.each do |given_detail| %>
                <tr>
                    <td class="text-left"><%= backend_product_link(given_detail.product) %></td>
                    <td class="numeric text-center"><%= given_detail.product.unit_name %></td>
                    <td class="numeric text-center"><%= given_detail.state_name %></td>
                    <td class="numeric text-center"><%= given_detail.warehouse_name %></td>
                    <td class="numeric text-center"><%= format_number(given_detail.quantity) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>