<li class="nav-item <%= "active open" if [  "erp/products/backend/products",
                                            "erp/products/backend/states",
                                            "erp/products/backend/state_checks",
                                            "erp/products/backend/properties",
                                            "erp/products/backend/categories",
                                            "erp/products/backend/brands",
                                            "erp/ortho_k/backend/setting"].include?(params[:controller]) %>"">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-archive"></i>
        <span class="title"><%= t('.product') %></span>
        <% if [ "erp/products/backend/products",
                "erp/products/backend/states",
                "erp/products/backend/state_checks",
                "erp/products/backend/properties",
                "erp/products/backend/categories",
                "erp/products/backend/brands",
                "erp/ortho_k/backend/setting"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu" <% if ["erp/products/backend/products",
                                "erp/products/backend/states",
                                "erp/products/backend/state_checks",
                                "erp/products/backend/properties",
                                "erp/products/backend/categories",
                                "erp/products/backend/brands",
                                "erp/ortho_k/backend/setting"].include?(params[:controller]) %>
                            style="display: block;"
                        <% else %>style="display: none;"<% end %>>
        <li class="nav-item <%= "active" if ["erp/products/backend/products"].include?(params[:controller]) %>">
            <%= link_to t('.products'), erp_products.backend_products_path, class: "nav-link ", title: t('.products') %>
        </li>
        <li class="nav-item <%= "active" if ["erp/products/backend/states"].include?(params[:controller]) %>">
            <%= link_to t('.states'), erp_products.backend_states_path, class: "nav-link ", title: t('.states') %>
        </li>
        <li class="nav-item <%= "active" if ["erp/products/backend/state_checks"].include?(params[:controller]) %>">
            <%= link_to t('.state_checks'), erp_products.backend_state_checks_path, class: "nav-link ", title: t('.state_checks') %>
        </li>
        <li class="nav-item <%= "active" if ["erp/products/backend/properties"].include?(params[:controller]) %>">
            <%= link_to t('.properties'), erp_products.backend_properties_path, class: "nav-link ", title: t('.properties') %>
        </li>
        <li class="nav-item <%= "active" if ["erp/products/backend/categories"].include?(params[:controller]) %>">
            <%= link_to t('.categories'), erp_products.backend_categories_path, class: "nav-link ", title: t('.categories') %>
        </li>
        <li class="nav-item <%= "active" if ["erp/products/backend/brands"].include?(params[:controller]) %>">
            <%= link_to t('.brands'), erp_products.backend_brands_path, class: "nav-link ", title: t('.brands') %>
        </li>
        <li class="nav-item <%= "active" if ["erp/ortho_k/backend/setting"].include?(params[:controller]) %>">
            <%= link_to t('.central_areas'), erp_ortho_k.backend_setting_path, class: "nav-link ", title: t('.central_areas') %>
        </li>
    </ul>
</li>