<li class="nav-item <%= "active open" if ["erp/purchase/backend/purchases"].include?(params[:controller]) ||
                                          ["erp/ortho_k/backend/setting"].include?(params[:controller]) ||
                                          (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "stock_importing") ||
                                          (params[:controller] == "erp/prices/backend/supplier_prices" && (params[:action] == "index" || params[:action] == "update_contact")) ||
                                          (params[:controller] == "erp/prices/backend/supplier_prices" && (params[:action] == "general" || params[:action] == "general_update")) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-basket"></i>
        <span class="title">Mua hàng</span>
        <% if ["erp/purchase/backend/purchases"].include?(params[:controller]) ||
                ["erp/ortho_k/backend/setting"].include?(params[:controller]) ||
                (params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "stock_importing") %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active" if ["erp/purchase/backend/purchases"].include?(params[:controller]) %>">
            <a href="<%= erp_purchase.backend_purchase_orders_path %>" class="nav-link ">
                <span class="title">Đơn mua hàng</span>
            </a>
        </li>
        <li class="nav-item <%= "active" if params[:controller] == "erp/ortho_k/backend/products" && params[:action] == "stock_importing" %>">
            <a href="<%= erp_ortho_k.stock_importing_backend_products_path %>" class="nav-link ">
                <span class="title">Dự toán mua hàng</span>
            </a>
        </li>
        <li class="nav-item <%= "active" if ["erp/ortho_k/backend/setting"].include?(params[:controller]) %>">
            <%= link_to 'Cấu hình phân vùng', erp_ortho_k.backend_setting_path, class: "nav-link ", title: 'Quản lý phân vùng/vùng trung tâm' %>
        </li>
        <% if Erp::Core.available?("prices") %>
            <%= render "layouts/erp/backend/menu/prices/supplier_prices" %>
        <% end %>
    </ul>
</li>
