<li class="nav-item <%= "active open" if
  (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "liabilities_tracking") ||
  (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "supplier_liabilities_tracking")
%>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <span class="title">Công nợ</span>
        <% if
          (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "liabilities_tracking") ||
          (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "supplier_liabilities_tracking")
        %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu" <% if
        (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "liabilities_tracking") ||
        (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "supplier_liabilities_tracking")
    %>
      style="display: block;"
    <% else %>style="display: none;"<% end %>>
        <li class="nav-item <%= "active open" if (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "liabilities_tracking") %>">
            <a href="<%= erp_payments.liabilities_tracking_backend_payment_records_path %>" class="nav-link ">
                <span class="title">Khách hàng</span>
            </a>
        </li>
        <li class="nav-item <%= "active open" if (params[:controller] == "erp/payments/backend/payment_records" && params[:action] == "supplier_liabilities_tracking") %>">
            <a href="<%= erp_payments.supplier_liabilities_tracking_backend_payment_records_path %>" class="nav-link ">
                <span class="title">Nhà cung cấp</span>
            </a>
        </li>
    </ul>
</li>
