<li class="nav-item <%= "active open" if
  ["erp/accounting/backend/sales_orders"].include?(params[:controller]) ||
  ["erp/accounting/backend/purchase_orders"].include?(params[:controller]) ||
  ["erp/accounting/backend/sales_product_returns"].include?(params[:controller]) ||
  ["erp/accounting/backend/purchase_product_returns"].include?(params[:controller])
%>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <span class="title">Theo dõi đơn hàng</span>
        <% if
          ["erp/accounting/backend/sales_orders"].include?(params[:controller]) ||
          ["erp/accounting/backend/purchase_orders"].include?(params[:controller]) ||
          ["erp/accounting/backend/sales_product_returns"].include?(params[:controller]) ||
          ["erp/accounting/backend/purchase_product_returns"].include?(params[:controller])
        %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
        <span class="notification-badge-container notification-accounting"></span>
    </a>
    <ul class="sub-menu" <% if
        ["erp/accounting/backend/sales_orders"].include?(params[:controller]) ||
        ["erp/accounting/backend/purchase_orders"].include?(params[:controller]) ||
        ["erp/accounting/backend/sales_product_returns"].include?(params[:controller]) ||
        ["erp/accounting/backend/purchase_product_returns"].include?(params[:controller])
    %>
      style="display: block;"
    <% else %>style="display: none;"<% end %>>
        <% if can? :menu_accounting_chase_chase_sales, nil %>
            <li class="nav-item <%= "active open" if ["erp/accounting/backend/sales_orders"].include?(params[:controller]) %>">
                <a href="<%= erp_accounting.backend_sales_orders_path %>" class="nav-link ">
                    <span class="title">Đơn bán hàng</span>
                    <% if ["erp/accounting/backend/sales_orders"].include?(params[:controller]) %>
                    <span class="selected"></span>
                    <% end %>
    
                    <span class="notification-badge-container notification-accounting_sales_overdue_orders_count"></span>
                </a>
            </li>
        <% end %>
        <% if can? :manu_accounting_chase_chase_sales_return, nil %>
            <li class="nav-item <%= "active open" if ["erp/accounting/backend/sales_product_returns"].include?(params[:controller]) %>">
                <a href="<%= erp_accounting.backend_sales_product_returns_path %>" class="nav-link ">
                    <span class="title">Hàng bán bị trả lại</span>
                    <% if ["erp/accounting/backend/sales_product_returns"].include?(params[:controller]) %>
                    <span class="selected"></span>
                    <% end %>
    
                    <span class="notification-badge-container notification-accounting_get_waiting_not_paid_return_sales_deliveries_count"></span>
                </a>
            </li>
        <% end %>
        <% if can? :menu_accounting_chase_chase_purchase, nil %>
            <li class="nav-item <%= "active open" if ["erp/accounting/backend/purchase_orders"].include?(params[:controller]) %>">
                <a href="<%= erp_accounting.backend_purchase_orders_path %>" class="nav-link ">
                    <span class="title">Đơn mua hàng</span>
                    <% if ["erp/accounting/backend/purchase_orders"].include?(params[:controller]) %>
                    <span class="selected"></span>
                    <% end %>
    
                    <span class="notification-badge-container notification-accounting_purchase_overdue_orders_count"></span>
                </a>
            </li>
        <% end %>
        <% if can? :menu_accounting_chase_chase_purchase_return, nil %>
            <li class="nav-item <%= "active open" if ["erp/accounting/backend/purchase_product_returns"].include?(params[:controller]) %>">
                <a href="<%= erp_accounting.backend_purchase_product_returns_path %>" class="nav-link ">
                    <span class="title">Trả lại hàng NCC</span>
                    <% if ["erp/accounting/backend/purchase_product_returns"].include?(params[:controller]) %>
                    <span class="selected"></span>
                    <% end %>
    
                    <span class="notification-badge-container notification-accounting_get_waiting_not_paid_return_purchase_deliveries_count"></span>
                </a>
            </li>
        <% end %>
    </ul>
</li>
